[2014-04-07 20:38] nden opened #6 "run autopep8"
`autopep8 --max-line-length=100` is usually sufficient but check the output.

[2014-04-09 14:47] #6 closed, assigned to nobody

[2014-05-07 14:11] sosey opened #7 "remove pyfits imports and use just astropy.io.fits"

[2014-05-07 14:12] sosey opened #8 "change photutil import so that it's optional"
This will let users use the other functions and restrict use of the aperture photometry options to those who want to install photutils

[2014-05-12 19:01] sosey opened #9 "Add wrapper for rgbcube"
you can call the xpa directly like this for loading RGBcubes:

import imexam
a=imexam.connect() #start ds9 window
a.window.xpa.set('rgb new') #open an rgb frame
a.window.xpa.set('rgb channel red')
a.load_fits('iabf01bzq_flt.fits') #load image to red
a.scale() #if you want
a.window.xpa.set('rgb channel green')
a.load_fits('iabf01bzq_flt.fits')
a.window.xpa.set('rgb channel blue')
a.load_fits('iabf0

[2014-05-12 21:04] sosey opened #10 "Improve user interface for changing plot defaults"
Currently users have to access the default plotting parameters directly through the dictionary. It would be nice to change this structure so that it wasn't so cumbersome and a little more intuitive

[2014-05-14 17:42] #9 closed, assigned to sosey

[2014-05-14 17:42] #8 closed, assigned to sosey

[2014-05-14 17:42] #7 closed, assigned to sosey

[2014-05-14 22:32] cdeil opened #11 "Crash on Mac"
@sosey This looks really neat ... I'd really like to try this (I'm getting involved in `photutils` development).

Unfortunately it crashes for me with Python 2.7 on my Macbook.

I get this warning during the build, which might be the cause?

[code]

Full build log here: https://gist.github.com/cdeil/9d826c25c9df9bc9440b#file-gistfile1-txt-L231

To reproduce the crash:

[code]

Crash report here: h

[2014-05-19 21:43] #11 closed, assigned to nobody

[2014-05-19 21:52] cdeil opened #12 "Adapt to photutils aperture photometry changes"
Just a heads up: the current way `photutils` is called for aperture photometry by `imexam` (see [here](https://github.com/sosey/imexam/blob/ab9042684b8aea25036d7003b0110047105db87e/imexam/imexamine.py#L374) will break in the next days when https://github.com/astropy/photutils/pull/55 is merged.

There will be quite a few [API changes in photutils](https://github.com/astropy/photutils/issues?labels

[2014-05-19 21:56] cdeil opened #13 "Errors with Python 3"
Currently `imexam` doesn't work with Python 3.
`python3 setup.py build` fails with a `configparser.DuplicateOptionError`:
https://gist.github.com/cdeil/382da88c55f46a17d329

[2014-05-20 14:34] sosey opened #14 "Detect x-d (cube and slice) images loaded into ds9 and load correct data segment"
Jane brought this to light loading miri test images which spawned the ds9 cube window, imexam just needs to detect which image segment to load for analysis

[2014-05-20 16:44] tepickering opened #15 "can't use integers to set zoom"
[code]

doing `a.zoom("8")` works properly, however.

[2014-05-21 18:11] #14 closed, assigned to sosey

[2014-05-21 18:11] #15 closed, assigned to nobody

[2014-05-21 20:33] sosey opened #16 "get_data() doesn't work with an array displayed using view()"
get_data() returns nothing when looking at an array in the frame which was created in memory and sent to ds9 with the view() method. This is because the array was created by the user and is already sitting around in memory for them. Return a nice reminder print statement in this case. Another side affect is that imexam() doesn't work on the array, not sure how to get around that one yet.

[2014-05-22 15:59] sosey opened #17 "make the imexam() printed results look nicer"
They are currently a little messy and deserve a formatted output

[2014-06-10 18:19] #17 closed, assigned to sosey

[2014-06-12 12:55] #16 closed, assigned to sosey

[2014-06-23 16:08] sosey opened #19 "get_viewer_info()"
get_viewer_info() checks the current frame information and returns the calling objects dictionary of information for all the frames it knows about in the viewer. If a user loads images through the GUI exclusively, they wont get added to the dictionary automatically, they will get added when a user calls a function which references the frame.

This presents as a problem when the user opens a ds9 wi

[2014-07-21 21:48] cdeil opened #21 "Don't run 2to3 for Python 3"
As mentioned in https://github.com/astropy/package-template/pull/93 it would be nice if Astropy and all affiliated packages worked with a single Python 2 / 3 codebase.

This is usually not hard to achieve ... set `use_2to3=False` in `setup.py` and then once run `2to3` on your package and manually go through the suggested changes to see which ones make sense.

@sosey I don't know, for `imexam` it m

[2014-07-22 19:41] #21 closed, assigned to nobody

[2014-08-12 16:59] sosey opened #23 "user array not getting zero'd out when user displays fits image into frame after user array displayed"
imexam needs to track when users update images in the frame either through the DS9 interface or through the python terminal.  When an array is already loaded into the current viewer frame and the user loads a fits image instead, the user_array reference doesn't seem to be removed so incorrect data gets returned with get_data() and get_viewer_info()

[2014-08-12 17:18] #23 closed, assigned to sosey

[2014-08-12 17:30] #13 closed, assigned to nobody

[2015-01-16 17:23] sosey opened #26 "Possible XPA communication problem on Mac OS 10.8.5"
Connection timeout with the ds9. Try to increase the *wait_time* parameter (current value is  10 s)
[code]

[2015-04-08 08:29] wkerzendorf opened #27 "This is very nice!"
Just gave it a try and it is very nice and works well!

[2015-04-08 08:29] #27 closed

[2015-04-08 14:03] pllim commented on #27
:+1: Best issue subject line ever!

[2015-04-29 12:47] wkerzendorf opened #29 "key bindings"
Hi @sosey, we were wondering here at ESO how easy it is to change the keybindings

[2015-04-29 13:17] sosey commented on #29
If you want to edit the code it's pretty easy. You can do it either live, in a session by changing the dictionary of values, or you can edit it more permanently if you want to have it stick, let me write an example, I'll add it to the docs for my pull request today too.

So, you could edit the dictionary at the moment (not - ideal) by doing (where a is my imexam object created when I called connec

[2015-04-29 13:19] sosey commented on #29
huh, git removed the function signature text, but you get the idea... :)

[2015-04-29 13:25] sosey commented on #29
I'll add, that if you want to ignore all the functions in the imexam loop, and not use the register function to add your own additional  key-function bindings, you can just flat out replace that dictionary. Make a new dictionary which contains the same details  and attached it to the exam object:

a.exam.imexam_option_funcs = dict( 'a': ( <my random function that plots stuff I like>, 'description'

[2015-04-29 13:26] wkerzendorf commented on #29
Thanks @sosey, I just presented your tool here at ESO Data Science Group (they thought it was pretty nice) and that was a question (and as an example of how nice github is - I put that question in :wink: ). Thanks, I'll show them right now.

[2015-04-29 13:27] sosey commented on #29
sweet.

[2015-04-29 13:37] #29 closed

[2015-05-01 19:24] sosey commented on #12
fixed

[2015-05-01 19:24] #12 closed

[2015-06-10 17:18] asymone opened #31 "Ds9 display closing seconds after opening"
I am trying to execute this code in a script:
[code]

When I run the script it opens ds9 and then displays the circles for a millisecond and then quits.  I have grabbed this newer version of imexam and the problem still persist.

I am using the 7.1 version of ds9.

[2015-07-07 02:47] mwcraig opened #33 "Build fail on Windows"
On windows the xpa extension fails to build because it can't find the  header file `unistd.h` -- see https://ci.appveyor.com/project/mwcraig/conda-builder-affiliated/build/1.0.42/job/wf6r4vdc63thckyn#L552

Cursory googling turned up this, but haven't tried it: http://stackoverflow.com/questions/341817/is-there-a-replacement-for-unistd-h-for-windows-visual-c

[2015-07-07 13:48] sosey commented on #33
Yah, it might be worth trying to add the process or io libraries for the windows build and try again.
XPA says that v2.1.15 should build under mingw, you could try switching the appveryor to use mingw instead of cygwin, it seems possible:

 http://help.appveyor.com/discussions/questions/372-build-setup-for-a-c-program

will that jive with the other windows builds you're working on?

[2015-07-12 16:27] sosey opened #34 "nbAgg notebook/matplotlib background ginga window communication"
The nbAgg notebook backend lets you embed the ginga/mpl window in the notebook but the calls to the window need to change for valid communication

[2015-07-15 14:48] sosey opened #35 "The current version of ginga breaks imexam"
The current version of ginga does not work with imexam because the objects it calls were deleted or moved. I need to find the replacement and get it up and running again. The last version that worked was from april 15, 2015: 7528d3deb9f7839d0c58cd90f9e237a2cc116487

[2015-07-15 14:58] pllim commented on #35
What objects? Is there a traceback?

[2015-07-15 15:02] sosey commented on #35
798         # Ginga imports for matplotlib backend
    799         from ginga.mplw.ImageViewCanvasMpl import ImageViewCanvas
--> 800         from ginga.mplw.ImageViewCanvasTypesMpl import DrawingCanvas
    801
    802         # create a regular matplotlib figure

ImportError: cannot import name 'DrawingCanvas'

I see that he's done some work in this module, and created a new ipg module, I just hav

[2015-07-15 15:13] pllim commented on #35
Yeah, there is a `ginga/mplw/ipg.py` now (see  below). Looks like `DrawingCanvas` is now generated by `CustomMplViewer.add_canvas()` method.

[code]

[2015-07-15 15:15] sosey commented on #35
yah, I saw that. I just haven't had time to try fixing the code. Feel free if you have time ; )

[2015-07-15 15:25] pllim commented on #35
How do I test it?

[2015-07-15 15:28] pllim commented on #35
I have a theoretical fix (untested):
[code]

[2015-07-15 15:30] sosey commented on #35
Right now, just install imexam, ginga and dependencies and then try it out in a session,

import imexam
a=imexam.connect(viewer='ginga_mp')

I still need to create a good set of tests to monitor the non-interactive parts of the package too.

[2015-07-15 15:59] pllim commented on #35
Hah, I can't get `imexam` to load on my Anaconda env.
[code]

[2015-07-15 16:00] sosey commented on #35
Do you have cython in there? It usu prints a warning, but try to conda install cython (it also wants scipy, astropy, numpy)

[2015-07-15 16:02] pllim commented on #35
Yes to all
[code]

[2015-07-15 16:04] pllim commented on #35
Okay, never mind. I wiped old build and that fixed it.

[2015-07-15 16:04] sosey commented on #35
good .. cause I just created a new env and install everything and it seemed to work, phew :)

[2015-07-15 16:06] sosey commented on #35
You'll probably want to try using TkAgg as your mpl backend too, though at one point nbAgg also worked for me in the notebook

[2015-07-15 16:15] pllim commented on #35
Nope, it works now. I'll submit a PR.

[2015-07-15 16:19] sosey commented on #35
Did you also make sure that an image would display in a window?

[2015-07-15 16:20] pllim commented on #35
Yes, I opened a FITS image. Didn't do full analysis though. Just said, "It's full of stars!" and closed it.

[2015-07-15 17:59] embray commented on #35
:laughing:

[2015-07-15 18:15] #35 closed

[2015-07-15 18:18] sosey commented on #31
I haven't had a chance to try and replicate this - but have you tried starting ds9 yourself and connecting to the window?

viewer=imexam.connect("name_of_ds9_window")  #which defaults to ds9, or you can name it when you startup ds9. You can also give it the XPA name referenced in the menu

[2015-07-21 05:45] mwcraig commented on #33
I'm going to close this -- in the long run the ginga backend is probably a better fit for Windows, and I couldn't get XPA to build.

[2015-07-21 05:45] #33 closed

[2015-07-21 05:48] mwcraig opened #37 "Python 3 compatiliblity"
I noticed at least one spot where the code isn't python 3 compatiable, an import of StringIO in [imexamine.py](https://github.com/spacetelescope/imexam/blob/master/imexam/imexamine.py#L21). I didn't do a comprehensive check for other python 3 issues, so there may be others.

[2015-07-21 12:10] sosey commented on #37
Thanks. I'll try and do a better check of python 3 compatibility for my next checkin.

[2015-07-21 14:08] pllim commented on #37
I think if you do `from __future__ import unicode_literal`, it will catch some of the string stuff.

[2015-08-03 10:29] matthew-brett opened #39 "Automated build of OSX wheels"
I have set up a repository to do automated builds of OSX wheels:

https://github.com/MacPython/imexam-wheels

The last build using current master succeeded:

https://travis-ci.org/MacPython/imexam-wheels

The travis run uploads the built wheel to the scikit-learn Rackspace container:

http://wheels.scipy.org

Here is me installing imexam into an OSX virtualenv:

[code]

The wheel gets the default

[2015-12-16 21:50] pllim opened #41 "Integrate with stginga?"
I don't know how feasible this is, but since `stginga` (https://github.com/spacetelescope/stginga) uses Ginga and `imexam` has a Ginga viewer, maybe `stginga` can somehow have access to `imexam` or something...

p/s: "Assimilate!"

[2015-12-17 15:53] sosey commented on #41
You should be able to do this with the imexam code as it's released right now, and it will open a ginga matplotlib window on your desktop and you can look at images

from imexam import ginga_viewer
window=ginga_viewer.ginga_mp()
window.load_fits('/Users/sosey/ibh719grq_flt.fits')

You have access to the imexam functions we've added as wrapper commands, plus the ginga keyboard keys, like hitting ".

[2015-12-17 16:09] pllim commented on #41
I am thinking more like enabling users to use `imexam` and our own custom plugins at the same time. Not sure if it is even possible, given that you have your own viewer implementation.

[2015-12-17 16:43] sosey commented on #41
It depends on how you want the interaction to go between imexam and the plugins. Most of imexam is geared towards making plots of things and viewing images because it's meant for interactive image analysis. You can call the plots separately without invoking the DS9 or Ginga interface like in the example here:

http://imexam.readthedocs.org/en/latest/imexam/examples.html#example-5

this will throw

[2015-12-17 16:48] sosey commented on #41
If there's a way to put a matplotlib plot window inside the ginga gui, then you could probably use the imexam functions in some way. You'll have to take a look at the ginga_viewer script  and the imexamine plotting functions to see if there's anything useful there for stginga

[2015-12-17 17:10] pllim commented on #41
Let's just keep this open so we can revisit in the future.

[2015-12-18 21:46] pllim commented on #41
I am moving this over to spacetelescope/stginga#69. Thanks for your feedback, @sosey!

[2015-12-18 21:46] #41 closed

[2016-01-02 03:55] tepickering commented on #37
the `StringIO` import issue is fixed by instead doing:
[code]
this will work for both python2 and python3.

[2016-01-02 04:02] sosey commented on #37
I haven't had time to work on imexam since June, Tim if you're using/fixing things feel free to update or send a pull request

[2016-01-02 04:13] tepickering commented on #37
ok, will see if i can make a PR for this.

[2016-01-29 19:46] sosey commented on #37
StringIO updated in a5b7946131729ed1395838f2db8f0e82d5668695, haven't run into others yet on python 3.5.1

[2016-01-29 19:48] #19 closed

[2016-02-02 20:02] eteq opened #43 "Matplotlib window doesn't update until "q""
I was just trying imexam right now with the latest conda (using the most recent matplotlib, astropy, and photutils), and, at least on my machine (OS X Yosemite), when I try any of the imexam plots, the matplotlib window pops up but does not render any plot - the cursor over the window yields only the "spinning beachball".  I tried both the ds9 and ginga backends - in ginga's case it meant the imag

[2016-02-02 20:07] sosey commented on #43
yah, already fixed that, is change in blocking for matplotlib. I was trying to fix some travis tests and this on the same branch, and then also added radial intensity plots, I'll check in the updates soon - trying to fix one last bug with the new radial plots. I'll send you a note when I push the update to the travisfix branch

[2016-02-02 20:10] pllim commented on #43
@sosey , is your fix only for `matplotlib`, or also for Ginga and DS9?

[2016-02-02 20:14] sosey commented on #43
nothing to do with ginga

[2016-02-02 23:45] sosey commented on #43
you can try pulling the travisfix branch and see if that fixes the issue for you...

[2016-02-02 23:53] eteq commented on #43
@sosey - Ah, yep, that did it.  It still doesn't want to let my interact in the matplotlib window (zoom boxes and such), but the plot does show up now.

The ginga thing is still happening.  I'm guessing that's on ginga's end, though, now that I think about it - perhaps the same blocking changes that led to this happening in imexam...?

[2016-02-02 23:56] eteq opened #44 "connect without an argument raises an error"
I noticed a strange error when I follow the instructions for Example 1 at http://imexam.readthedocs.org/imexam/examples.html .  If I try to connect to ds9 via ``imexam.connect()`` without explicitly saying ``imexam.connect('ds9')`` (which is what Example 1 suggests is possible), I get a rather arcane error that I don't really understand.  I do suspect it has something to do with the ``# this might

[2016-02-03 14:26] pllim commented on #44
I have no problem with this under Anaconda Python 2.7.11 and SAOImage DS9 v7.1.

[2016-02-03 14:34] pllim commented on #44
@eteq , I can't really test it but can you see if #45 get you past the `UnboundLocalError` and hopefully give you some other more meaningful error to work with? Or better yet, fix the problem?

[2016-02-03 14:40] pllim commented on #43
Just for the records, I am unable to reproduce the Ginga problem under RHEL6 Anaconda Python 2.7.11 with the latest dev version of Ginga. I can open the viewer and display an image using:

[code]

[2016-02-03 16:57] eteq commented on #43
Ah, the latest matplotlib is 1.5.1, and I think 1.5 is when the changes to the interactive stuff was done (http://matplotlib.org/1.5.1/users/whats_new.html#interactive-oo-usage), which I suspect is the root cause of all of this.

[2016-02-03 17:03] eteq commented on #44
@pllim - hmm, OK, that leads to a completely different error as shown below.  That's definitely more relevant, but I still don't really understand the cause... In particular I don't understand what's different between this and ``imexam.connect('ds9')``...

[code]

[2016-02-03 17:05] sosey commented on #43
yes, exactly

[2016-02-03 17:12] pllim commented on #44
@eteq , that is just `imexam` trying to delete a temporary directory that was never created. But if you are already in that `else` logic block, the next thing that will happen is this:

[code]

[2016-02-03 17:17] pllim commented on #44
The difference between `connect()` (`target=None`) and `connect('ds9')` (`target='ds9'`) is this logic in `ds9_viewer.py`:

[code]

[2016-02-03 20:06] eteq commented on #44
Ah, gotcha, so that explains why the error hits at `_run_unixonly_ds9`.  But I still don't understand what the purpose is of the temporary directory that gets created in that function...  I admit my understanding of XPA is at the level of "minimum necessary for what I need at any given moment", though...

[2016-02-03 21:28] sosey commented on #44
It's been a while, and I try to expunge XPA memories because they hurt... but the XPA prefers to run sockets all of the same type. If you don't already have an instance of ds9 running, then it defaults down to the unix local socket, which are file references, this is the most secure I believe because you can limit access to the process by userid.  If the process doesn't start up and the local sock

[2016-02-05 19:11] eteq commented on #44
Hmm, we're closer but I'm still a bit confused, @sosey:  I tried as you suggested, and got a few interesting bits:

* `imexam.find_ds9` and `imexam.find_xpams` both work and find the right path
* `imexam.list_active_ds9` yields this:
[code]
which looks to me to be a python 3.x incompatibility (I was testing this on anaconda 3.5.something).

But if I switch to 2.7, it happily reports either ``No ac

[2016-02-05 21:18] sosey commented on #44
Yes, that' a compatibility thing  I still need to fix. I had to blow away my environments yesturday for some calwf3 testing so I'm a little behind but will try and get to that next (after I fix the travis issues)

It may be because it thinks you're in local mode. Did you try setting in your env XPA_METHOD = inet?  That should make imexam skip that section all together. Try that and I'll see where

[2016-02-05 21:29] eteq commented on #44
Aha - I did `XPA_METHOD=inet` when starting `ds9`, not when starting `python`.  When I do ``XPA_METHOD=inet ipython``, it *does* try to start up ds9.  However, I get a different error now, with the traceback below.  I *think* this error is happening because I have a rather arcane way of calling ds9 (the `ds9` it finds is actually a shell script to go and find the right version of ds9 on my machine

[2016-02-05 21:35] sosey commented on #44
well that's a new one. Yah I'll look at the process thing.

So, try this:
set your OS env,  export XPA_METHOD=inet,
start python
import imexam

Since you have a special place you want to grab ds9 from, and its scripts, lets just give that location to imexam and see if that at least gets a smooth start for you?

a=imexam.connect(path = "my special ds9 path")

[2016-02-08 22:41] eteq commented on #44
@sosey - tried what you said here and I got the exact same result as the traceback I posted above.  *But*, I think I figured it out:

If I do what I *originally* did (``connect()`` without the path), and use the debugger to try to *create* the `Popen` in `run_inet_ds9`, it fails because of ``OSError: OSError(8, 'Exec format error')``. This is probably because the `ds9` on my path is actually a fil

[2016-02-11 17:20] #44 closed

[2016-02-18 18:17] #43 closed

[2016-02-18 18:18] sosey commented on #39
I think this should be fixed now on the master

[2016-02-18 18:18] #39 closed

[2016-03-25 13:21] sosey opened #47 "setattr works differently in python3"
arg

[2016-03-29 16:14] embray commented on #47
Just out of curiosity what did you run into that `setattr` works differently?  The only thing I can think of is that the attribute name must be a `str` instead of `bytes` object but I'm curious what else there could be.

[2016-03-29 16:52] sosey commented on #47
yah, cryptic message to myself because I didn't have time to investigate further during the workshop last week.  Anyways, I'm using setattr as part of a call to attach a user created function to an object that's already in existence , it happens here:

@classmethod
    def _add_user_function(cls, func):
        import types
        return setattr(cls, func.__name__, types.MethodType(func, None, cl

[2016-04-05 20:34] sosey commented on #47
fixed in merge with ginganb branch

[2016-04-05 20:34] #47 closed

[2016-04-05 20:34] sosey commented on #37
should be fixed on the master

[2016-04-05 20:34] #37 closed

[2016-04-05 20:35] sosey commented on #34
added with ginganb merge 632f01f4a0d86b56868fcd4f4126d4eeafd59a09

[2016-04-05 20:35] #34 closed

[2016-04-05 20:35] sosey commented on #31
haven't been able to replicate, @asymone do you still have this issue?

[2016-04-05 20:45] pllim commented on #47
So, what was the solution? Your initial "arg" got me curious.

[2016-04-05 21:05] pllim commented on #47
Ooooo thx

[2016-04-12 09:26] embray commented on #47
Oh yeah, this isn't a difference in how `setattr` works at all but you figured that out.

[2016-04-15 14:57] sosey commented on #10
fixed in f6ad07bbb43b622881f9a418d406f362302bea75

[2016-04-15 14:57] #10 closed

[2016-05-02 20:21] pllim opened #52 "Update RTD domain name"
Change all references of `readthedocs.org` to `readthedocs.io`.

[2016-05-02 20:22] sosey commented on #52
yes, it's on my list, you have to wait til I have a chance to push my current branch

[2016-05-02 20:23] pllim commented on #52
Just a reminder issue. No pressure. I am just going through the whole repo and opening issues about this.

[2016-06-18 00:20] #52 closed

[2016-06-18 00:21] sosey commented on #31
I think this has been fixed

[2016-06-18 00:21] #31 closed

[2016-06-18 00:21] sosey commented on #26
Don't see this problem anymore

[2016-06-18 00:21] #26 closed

[2016-06-18 00:22] sosey opened #56 "Update sphinx documentation for 1.0 release"
Update the features which are explained and add references to the jupyter notebook and show examples of the ginga html5 interface with and without the notebook

[2016-06-18 00:26] sosey opened #57 "Add a convenience function to find an open port automatically for the ginga viewer"
Currently there is a default port, but it would be nicer to have the setup find and use an open port so that the users aren't sidetracked by misleading tornado errors

[2016-06-18 01:31] sosey commented on #57
added in a6616201e5c4cea563726e9a989682539f92a640

[2016-06-18 01:31] #57 closed

[2016-06-22 16:09] justincely opened #61 "m key raises AttributeError"
After a quick connection, pressing "m" hits an attribute error: last of the traceback is below.

/Users/ely/anaconda3/envs/astroconda3/lib/python3.5/site-packages/imexam/imexamine.py in report_stat(self, x, y, data)
    310             ymax = int(y + dist)
    311             pstr = "[{0:d}:{1:d},{2:d}:{3:d}] {4:s}: {5:f}".format(
--> 312                 xmin, xmax, ymin, ymax, stat.func_name, (st

[2016-06-22 16:11] sosey commented on #61
Can you give me more information on the version you are using and how you are using it? I don't see this problem on master:

Current image /Users/sosey/test_images/iacs01t4q_flt.fits
pressed: m, report_stat
[321:326,429:434] median: 0.662824
pressed: m, report_stat
[321:326,429:434] median: 0.662824
pressed: m, report_stat
[321:326,429:434] median: 0.662824
pressed: m, report_stat
[321:326,429:434

[2016-06-22 16:37] justincely commented on #61
You're right - i was using the pip version.  Installed from master and everything is fine.

[2016-06-22 16:58] sosey commented on #61
great. Hopefully by the end of the week I'll manage to get this version update out and pushed.

[2016-06-22 16:58] #61 closed

[2016-08-09 17:37] hcferguson opened #67 "Radial plots showing all the pixels"
The IRAF imexam radial plots show all the pixels, rather than binned by radius. This is useful for evaluating the quality of centroids or PSF fits. My suggestion is that this be the default for python imexam. Binned plots with uncertainties might be useful too, but I think are typical inspection.

[2016-08-09 18:31] sosey opened #68 "Think about a way to return imexam() results to the current session"
Tricky in the blocking loop I have to use for DS9, maybe easier for the Ginga viewer

[2016-08-09 19:00] sosey commented on #68
@hcferguson  I'll work on the interactive solution, just realized I forgot to show how to pull just the data, without the interactive plot,  in a way to save it to vars, this is how I run my package tests:

[code]
The above works if you already know the locations, genplot is an option for most of the plots I believe.
I'll think about the best interactive way to return the arrays from the various f

[2016-08-09 19:02] sosey commented on #68
This is the other method I use to grab info from the current figure:

[code]

[2016-08-10 16:14] sosey opened #69 "Expose the default parameter sets for each imexam() function and allow users to set their own defaults"
Users can already view and set the parameters for each function (which are stored as a dictionary)  but  it would probably be useful to install a parameters file somewhere which they can edit to override the defaults.

[2016-08-10 16:15] pllim commented on #69
You already use `astropy_helpers`, so I think the natural thing to do here is to use the `astropy.config` functionality. Just a thought.

[2016-08-10 16:26] sosey commented on #69
@pllim I'm not sure that it's the natural interface to the default parameter sets I'm using for the plotting/information routines, which are not set up as simple key-value pairs, but rather dictionaries of associated settings and descriptions for each function which is implemented. I'll take a closer look through the config code astropy uses though.

[2016-08-10 16:28] pllim commented on #69
You can also look at how Ginga implements plugin configuration files, which are plugin-specific.

[2016-08-10 17:00] sosey commented on #67
@hcferguson is this close to what you were thinking?
[code]
![radial_plot](https://cloud.githubusercontent.com/assets/503615/17562798/73313878-5efa-11e6-805a-9e9411837a38.png)

[2016-08-10 19:24] hcferguson commented on #67
Possibly. It looks like the pixel positions are binned in radius, which makes me think this is relative to a center that might not have been computed from either a centroid or a fit? Or maybe it's just the precision of that fit is truncated? I often use this kind of plot as a visual way to assess how well that centering is working. I think maybe in imexam the 'r' key did the same sort of centering

[2016-08-11 17:13] sosey commented on #67
@hcferguson Here's the process I used to create that graph:

- Using the pointer location, recenter using a 2d gaussian fit in a 10 pixel box size
- The integer value of that location is then used to cut out a smaller data array from the main image
- The radial distance from center of all pixels from the integer center in that box is computed
- If background subtraction is on, I calculate the mean

[2016-08-11 17:42] larrybradley commented on #67
I think the issue is that the radius values here are always relative to an integer pixel location (the center of the central pixel).  However, the true centroid is most likely not exactly at an integer pixel location.

[2016-08-11 17:54] sosey commented on #67
@larrybradley correct, I measure the true centroid to make sure I'm starting from the pixel which contains the center, but then I pull the integer pixel values. If you want a plot from the centroid position out through the radius at subpixel steps I'd have to move into subsampling the image and interpolating flux. Is that what people prefer?

[2016-08-11 17:58] hcferguson commented on #67
@sosey No...don't subsample. Put the points at radii that are (x_p - x_c) where x_p is the center of each pixel and x_c is the true centroid.

[2016-08-11 17:58] larrybradley commented on #67
@sosey All you need to do is calculate the radii from the centroid (i.e. shift the radial distances), but keep the flux values the same.

[2016-08-11 18:04] sosey commented on #67
@thats what I'm doing, let me look at the code again after my meeting

[2016-08-11 19:14] sosey commented on #67
how about this? Looks like I still had the new center from the chopped array when I computed the radii so I added back in the fractional offset

![lineplot](https://cloud.githubusercontent.com/assets/503615/17601333/931a443c-5fd5-11e6-81d9-029cb4ae3446.png)

[2016-08-11 19:30] hcferguson commented on #67
Looks good to me.

[2016-08-11 19:33] sosey commented on #67
@hcferguson great. I'll merge this after I fix a couple more bugs I found, let me know if you see anything else that looks off :-)  (yay users!)

[2016-08-11 19:38] larrybradley commented on #67
👍

[2016-08-11 20:11] sosey commented on #67
oh yah - also, I apparently forgot that I **did** implement a moffat, polynomial 1D (with n degrees, not composite) and apparently started a 2d airy disk as well. The things you find when you look at your code after a long time..

[2016-08-18 00:00] emcangi opened #71 "Small request for list_active_ds9()"
Hello! I'm relatively new to using pyraf and imexam (and Github, to tell the truth), so please excuse me if this has been asked before or I'm going about any of this incorrectly. I have checked the previous issues and did not see it.

I noticed that list_active_ds9() prints the current DS9 session to the terminal. I wanted to be able to collect the XPA_METHOD via my script instead of manually find

[2016-08-18 13:20] pllim commented on #71
Is this what #60 was trying to address?

[2016-08-19 03:12] emcangi commented on #71
Yes, thanks! I'll close this.

[2016-08-19 13:57] pllim commented on #71
Let's keep this open until the PR is merged.

[2016-08-19 14:25] sosey commented on #71
Hi @emcangi , indeed you are the second person to ask for this, I'm going to make some suggestions on the original PR and copy you there.

[2016-08-19 14:25] #71 closed

[2016-08-23 23:51] emcangi opened #74 "Calling setlog successively with different filenames does not actually open new files"
Hello again! I have written a script that auto-opens FIT files from various subdirectories in a directory and cycles through them and starts imexam for me, allowing me to use tasks. I have set the script to log anything I do to a log file. I would like to have different log files for every image, but even though I update the log file name for each new image, it doesn't actually save to that new fi

[2016-08-24 15:55] sosey commented on #71
fixed in 2f42089ba689e85c6ef02b8ce92a75e7344ae198

[2016-08-24 15:56] sosey commented on #67
fixed in ab12f90422fdd95a71f6660cb8a1208a66e32bd8

[2016-08-24 15:56] #67 closed

[2016-08-29 17:57] sosey commented on #74
@emcangi you're still on my radar, just swamped at the moment.  I haven't spent a ton of time messing with the logging in this package, but I have a couple ideas and will get back with you as soon as I can.

[2016-09-07 22:54] emcangi commented on #74
It's no rush at all. I'm studying for the physics GRE anyway, so my project is going slowly as it is. :)

[2016-11-02 21:48] Gabriel-p opened #75 "AttributeError: module 'distutils.config' has no attribute 'ConfigParser'"
I'm trying to install this package in a `pyenv` with Python 3.5.2 installed. This is what I get:

[code]

[2016-11-02 23:01] sosey commented on #75
@Gabriel-p Sorry, this is an old binary of imexam, I've been away and haven't had a chance to upload the recent binaries to pypi, try installing from the repo itself, you can either clone and install or use pip:
pip install:

pip install git+https://github.com/spacetelescope/imexam

[2016-11-02 23:42] Gabriel-p commented on #75
Worked flawlessly. Thanks @sosey!

[2016-11-02 23:42] #75 closed

[2016-11-02 23:46] sosey commented on #75
excellent! Feel free to comment back on any other issues or suggestions you have while using the library :)

[2016-11-03 00:05] Gabriel-p commented on #75
Sorry to bother you again @sosey, but I can't seem to be able to load the package. It is apparently installed:

[code]

but attempting to run the example shown in the `README.md` file:

[code]

results in:

[code]

[2016-11-03 04:03] sosey commented on #75
... world series break...

sorry, think this is my typo in the readme, Imexamine is the class  in imexamine (of the package imexam - yah, sorry, that is a little confusing) but try this:

from imexam.imexamine import Imexamine
plots=Imexamine()

where the plots object now has all the functions attached to it

note: this is the way to use the library without any visual interaction (i.e. without DS9

[2016-11-09 00:57] Gabriel-p opened #76 "Use imexamine automatically given an image and a list of x,y coordinates"
I'd like to use `imexamine` to emulate IRAF's [psfmeasure](http://stsdas.stsci.edu/cgi-bin/gethelp.cgi?psfmeasure.hlp) task, which is useful to estimate the average FWHM of an image.

To do this, I need to pass to `imexam` an image, and a list of x,y star center coordinates. Then I have to emulate pressing the `a` key on each of those x,y coordinates, and log the results either to screen or a file

[2016-11-09 02:39] sosey commented on #76
nope, you can just feed the data and x,y positions in and save the information.... You probably don't need the full aperture photometry though, yes? You can save the aperture photometry similar to the example below, but if you're mostly interested in the gauss fit results,  you can use the Gaussian line fit function in either x or y ( attached to the j and k keys) and return the fit directly, then

[2016-11-09 13:30] Gabriel-p commented on #76
Thank you very much for your detailed answer @sosey! A couple of comments:

1. Importing `imexam`, even if it is not used, makes the `plt.show()` window crash (or immediately close). Try the following small script for example. In my case, the plot window never appears (I think it appears and is closed so quickly I can't even see it).
[code]
I'm using Python 2.7.12 and `imexam` v0.6.2 (installed vi

[2016-11-09 15:22] sosey commented on #76
I'm in the middle of a conference this week @Gabriel-p, but I will get to these questions as soon as I can. In the mean time, if you are using a conda virtual environment, will you dump it to a text file and send me the result so I can repilcate it?   conda env export > environment.yml

[2016-11-09 20:09] Gabriel-p commented on #76
Of course @sosey, take as much time as you need.

Here's the [environment.yml.zip](https://github.com/spacetelescope/imexam/files/581727/environment.yml.zip) file. Let me know if there's anything else you need.

In the meantime, I'll add another question:

7- What FWHM does the `a` key return? The averaged x, y (line, column) FWHMs? The FWHM of a 2D fitted Gaussian?

[2016-11-09 21:44] sosey commented on #76
Thankyou. The "a" key is returning photometry from photutils, but I use the sigma from the 2D gaussian fit which recenters the star to calculate the FWHM

You can call this function yourself,  imexam.math_helper.gauss_center, it takes a data array which is assumes is centered on the object and then calculates a better 2d center with the fit.

[2016-11-10 20:28] Gabriel-p commented on #76
Thanks @sosey. Updating status of the questions:

1. Still an issue.
1. Resolved. I see that it expects the column/line number, which is why it needs an integer.
1. Resolved.
1. I could "fix" this wrapping calls to `column_fit` or `line_fit` around

[code]
It feels hackish though.
1. Unless I understood something wrong, this is correct.
1. Here's a comparision of `line_fit` and `column_fit` FWHM v

[2016-11-10 20:54] sosey commented on #76
@Gabriel-p  Some more answers:

[code]
This is to accommodate the imexam loop.  The integer pixel location of the pointer is used to make a subarray cut of the data to localize the fit, then with centering on,  a better floating point center is found assuming that the object is close to the center of the smaller array. This gives a little more flexibility for people visually interacting with an im

[2016-11-10 20:55] sosey commented on #76
I had the above typed up when your update came in, lemme think on the psfmeasure differences a bit and I'll get back to you

[2016-11-18 19:47] pllim opened #79 "Cannot install imexam from source"
In trying to test Eric J's #78, I get the following traceback on RHEL6 64-bit:

[code]

[2016-11-18 19:53] ejeschke commented on #79
@pllim, if you execute the command:
[code]
I think this should resolve the problem for you (I had the same problem).  This is described at the bottom of the [imexam github page](https://github.com/spacetelescope/imexam).

[2016-11-18 19:55] pllim commented on #79
Thanks! :sweat_smile:

[2016-11-18 19:55] #79 closed

[2016-11-18 20:09] pllim opened #80 "VisibleDeprecationWarning from radial profile plot"
Using the latest dev, I get this warning:

[code]

[2016-11-18 20:18] pllim commented on #80
Also here (and probably somewhere else):

[code]

[2016-11-22 19:57] sosey commented on #79
@pllim this has gotten a few people, I'll move the instructions higher up in the readme :)

[2016-12-14 11:59] astrofrog opened #81 "Sphinx warning"
There is a minor Sphinx warning that is causing the documentation build to fail on Travis:

[code]

[2016-12-15 17:30] #81 closed

[2016-12-19 16:09] pllim opened #84 "Installing from source in Windows 7 gives WinError"
Using Anaconda on Windows 7 64-bit. Since AstroConda has no Windows distribution, my only option is to install from source, but even that failed.

[code]

[2016-12-19 17:42] sosey commented on #84
@pllim  it looks like you forgot to pull the submodule data

[2016-12-19 17:57] pllim commented on #84
I did `git submodule update --init -- cextern/xpa` and still get the following error. I have checked that both `cextern` and `astropy_helpers` folders are not empty.

[code]

[2016-12-19 18:03] jhunkeler commented on #84
This is because `build_ext` explicitly calls `make`, but can't find it is `%PATH%` so it dies (very ambiguously).

XPA also requires some manual patches to the code in order to build on Windows. I remember reading about it in their docs not too long ago.

[2016-12-19 18:09] pllim commented on #84
So in English, it means `imexam` currently cannot build on Windows unless this magical patch is applied?

[2016-12-19 18:23] pllim commented on #84
For the record, I just want to use this with Ginga, which does not need XPA. Is there a way to make `cextern/xpa` success optional, i.e., `imexam` will still install without XPA?

[2016-12-19 18:26] sosey commented on #84
I think there's also the issue of the windows C compiler she has on her system, and having to point to an explicit one, including all these goodies: https://github.com/cython/cython/wiki/CythonExtensionsOnWindows

I have on my list this week to try out the latest release of xpa and haven't read through the docs yet, perhaps they've added the windows the patches.

also on the list is to see if I ca

[2016-12-19 18:27] sosey commented on #84
Let me think about the best way to make an optional build with no cython

[2016-12-19 18:43] pllim commented on #84
I *think* my Windows 7 is using Visual C++ 2015, as I had to install that to build Astropy from source. (Let me know if there is a specific command I can use to find out for sure. My `win-fu` is not very strong.)

When I do `gcc --version`, it gives `4.7.0 (experimental)`. Not sure if that is provided by Visual C++ install, or I somehow installed that manually in the past. (This is an old laptop.)

[2016-12-27 19:42] pllim commented on #84
@jhunkeler , did you ever get this to install on that Windows VM?

[2016-12-31 20:32] sosey commented on #80
I couldn't replicate this, but I did find some nearby code that should have been converted to int, if that was your culprit it should be fixed in the next pull + release

[2016-12-31 22:37] #80 closed

[2016-12-31 22:39] sosey commented on #74
@emcangi  the logging should be fixed on the current master, will do an official release tomorrow. Check it out when you have time and let me know if it's working for you.

[2017-01-01 16:56] pllim commented on #80
What Numpy version were you using? Anyway, if I see this again, I'll reopen. Thanks!

[2017-01-01 20:39] sosey commented on #80
1.11.2

[2017-01-04 16:20] #84 closed

[2017-01-04 16:20] #74 closed

[2017-01-04 16:22] sosey commented on #56
docs updated with v0.6.3 release

[2017-01-04 16:22] #56 closed

[2017-01-06 18:21] sosey opened #91 "grab() sometimes returns an error"
The primary symptom is:

/Users/anusha/astroconda/envs/aas229-workshop/lib/python3.5/subprocess.py in _execute_child(self, args, executable, preexec_fn, close_fds, pass_fds, cwd, env, startupinfo, creationflags, shell, p2cread, p2cwrite, c2pread, c2pwrite, errread, errwrite, restore_signals, start_new_session)
1549 else:
1550 err_msg += ': ' + repr(orig_executable)
-> 1551 raise child_exception_ty

[2017-01-15 19:09] emcangi commented on #74
Thanks! I am just getting around to this. I updated today but I am now getting an error where I'm no longer able to load my files into DS9 anymore. Has something changed in load_fits? The error looks pretty buried:
[code]

In particular the line "/home/mypathname/14-41-57-630.FIT None 1" looks like it's being generated from some code that isn't mine. I'm not sure what it indicates.

I can't test t

[2017-01-17 17:23] pllim commented on #74
Re: attaching file. Theoretically, according to [this GitHub doc](https://help.github.com/articles/file-attachments-on-issues-and-pull-requests/), you can zip the FITS first, before attempting to attach, as long as it does not exceed size limit.

[2017-01-17 18:08] sosey commented on #74
@emcangi I'm guessing it's your fits file, you could stick it on Box somewhere too, I haven't been able to replicate this with any of my fits files.  Have you tried opening the file directly with DS9 first? Also, what version of DS9 are you using?

[2017-01-17 18:52] sosey commented on #91
"import" is the unix/linux import command, it saves any visible window on an X server and outputs it as an image file, it's included on the macos and linux flavors I've looked at. It's likely not on windows. Users should check their path to see if it's included. This only affects grab() for DS9 which saves a copy of the DS9 window on the workspace, it does not affect saves for ginga or matplotlib

[2017-01-17 18:52] #91 closed

[2017-01-17 21:06] emcangi commented on #74
yup--and the files opened just fine in version 0.5.2, so I reverted to that version to continue working for now.

DS9 version is apparently 7.4 and is part of the stsci package in astroconda (everything I have is installed and managed in an astroconda/anaconda environment). are you using version 7.5? I see it's available on the website but doesn't seem to be available to astroconda.

I'm attaching

[2017-01-17 21:20] sosey commented on #74
huh, 0.6.2 (conda update imexam=0.6.2) seems to work, def upgrade to that and give it a go at least loading this file. I see the fail on 0.6.3, but don't see the change affecting the image loading, lemme look around a bit...

[2017-01-17 21:26] sosey commented on #74
Update to v0.6.3 and try this:  ```a.load_fits('21-5-57-172.FIT',extver=0)```, your image is a simple fits image with no extensions and the data and global together, I updated code around detecting simple fits. Let me see if I can make it smarter..

[2017-01-17 21:40] emcangi commented on #74
It does indeed open successfully now, though I now have a different error:

[code]

This was for a different image--I tried the one I sent you but apparently I have some other issue with my code where it fails to open the file when I am selecting them manually (normally it loops through a directory with a bunch of nested directories). This might take me a bit to hammer out.

[2017-01-17 21:45] emcangi commented on #74
Checked with the image I sent--same error as above:

[code]

This looks like it's still having trouble reading the FIT file, although I have had success using the hdulist stuff myself to throw together simple plots. Hmm...

[2017-01-17 21:46] sosey commented on #74
Some more background; the FITS file in question is a lying liar that lies ;) In truth, it's not actually violating the FITS standard to set EXTEND = True and then not have extensions, but it's not friendly.

[code]
If there are other issues with your FIT file not be standard that could be problematic too...oh, I see your updated comment.  For the error above ... edit your FIT image to set NEXTEND

[2017-01-17 21:49] emcangi commented on #74
Apologies, I'm not quite sure what you mean by EXTEND/NEXTEND and how I might edit those. I am but a lowly student and still fairly new to FITS :). Is it EXTEND or NEXTEND? Is there a standard for editing FITS? It doesn't display properly in my text editor.

I'll have to come back to this after class. Thanks again for your help with this, I really appreciate it.

[2017-01-17 22:32] sosey commented on #74
No worries... here's an example using astropy.io.fits
[code]
Now the image has the EXTEND keyword set as False.
NEXTEND is the keyword which tells fits readers how many extensions they might expect from a multi-extension fits files. Fits files with only data attached to the primary header are referred to as simple fits files. Here's an example of a multi-extension fits file:
[code]
Where if I want

[2017-01-18 00:31] emcangi commented on #74
Thanks! I guess I realized I haven't gone through the FITS documentation very thoroughly.

It now works that I set EXTEND to F. There is no NEXTEND in my files.

I guess now I have to write another script to manage the FITS files...! T_T

[2017-01-18 15:59] sosey commented on #74
@emcangi I'm not sure what else your script is doing, but my next update should fix the errors you had with loading this fits file (as is, without changing the EXTEND keyword or specifying the zero extension) and with the get and set data functions. Check back this afternoon and you should see the update, and not have to do anything to your fits images themselves.

[2017-02-03 04:06] emcangi commented on #74
My apologies for the delay on this again. I tested version 0.7 and I am now getting a different error and DS9 is unable to connect:

[code]

Sounds like maybe some variable was changed somewhere?

[2017-02-03 19:18] sosey commented on #74
ugh! This was totally my fault when I was adding logic for windows users.  Pushing an update in the next few minutes....

[2017-02-11 23:40] emcangi commented on #74
Everything is working perfectly now!

I hit a minor bump when I noticed that logging stopped working entirely with my user-defined imexam task (I call it 'i': it reports all the possible stats one can get out of the 'm' task). I discovered the cause was that when I defined the task, I imported `logging` and then called `logging.info(mymsg)`. After digging into imexamine.py, I discovered the correc

[2017-02-13 15:25] sosey commented on #74
@emcangi You can also set the 'm' key  stat to use the scipy.stats.descibe function, which returns all the stats at once :)    Use ```set_plot_pars("m","stat","describe")```

Now the output should look like this:
[code]
additionally, if you also want median you can ```set_plot_pars("m","stat","median")``` and call on the same location again.  But as you've done above, you can write your own functi

[2017-02-13 15:53] sosey commented on #74
also, thanks for being such a great tester :)   Yes, I changed the way the logging was being done for more consistency, to allow stream and file logs to run separately and turned on and off correctly , but also to move all the print statements over to the logs. logging.info() speaks to the general logging, but self.log.info() speaks to the one attached to the imexamine object you're using.  Let me

[2017-02-13 16:33] emcangi commented on #74
Ugh! I swear I read the documentation but I somehow missed that capability of set_plot_pars. XD

Thanks for helping, I know a lot of support for scientific programming packages is outside of normal job duties. Not sure if this is the case with you, but I do appreciate the amount of work that goes into OSS either way.

[2017-03-01 15:10] stscieisenhamer opened #100 "Add a load_data() method"
Display an image using an existing np.array, instead of going through a file. May exist but my observational powers are limited.

[2017-03-01 15:45] sosey commented on #100
The  view() method exists for looking at numpy or nddata arrays:

[code]

[2017-03-01 17:06] stscieisenhamer commented on #100
See my observational powers failed. Thanks!

[2017-03-01 17:06] #100 closed

[2017-03-01 17:23] stscieisenhamer commented on #100
So, I was looking for another 'load_***' method. Conversely, looking at the documentation for view, it has "view(img,...", and being mono-minded, I would have clued in on "view(array,...)" instead. "img" carries too many connotations, such as a FITS HDUL, or HDU, or jpeg/gif/png, etc. So, yes, probably a renaming/redocumenting, but definitely not based on this one datapoint.

[2017-03-01 17:28] stscieisenhamer opened #101 "ds9.view cannot handle cubes"
If ds9.view is passed a cube, it fails. However, said cube can be loaded through reading a fits file.
[code]

[2017-03-01 17:43] sosey commented on #101
right...because there's a cube loader that works with ds9: ```viewer.load_mef_as_cube('cube.fits')```, because ds9 has to know it's loading a cube fits image. load_fits() calls a different XPA function than load_mef_as_cube.

but the view() class hasn't been expanded to work with a cubed data array in 3D on disk, but it will display the 2D slice: ```viewer.view(rancube[0])``` into ds9, and it keep

[2017-03-01 17:53] sosey commented on #101
Example: http://imexam.readthedocs.io/en/v0.7.0/imexam/examples.html#load-and-examine-an-image-cube

what I said above about cube loading in ds9 wasn't entirely correct, you can load a cube with load_fits() in imexam, you can also load an MEF fits file as a cube and load a cube with load_mef_as_cube.... I don't have a cube fits image handy at the moment though...

[2017-03-01 18:02] sosey commented on #101
found one!  documentation on these should be expanded:

**load_mef_as_cube()** : nope, just use it to load MEF fits files, with 2d arrays, into one frame
**load_fits():** works with cubes and regular fits images
**load_mef_as_multi()**: load an MEF fits file into multiple frames where each 2d array extension gets a different frame

I'm not sure the best way to take a local cube and display in DS9

[2017-03-01 18:26] stscieisenhamer commented on #101
Expanding ds9 isn't on the todo list :-)

What I was looking for was the equivalent behavior between `load_fits` and `view`. When load_fits gets a cube, it sets up the slice tool (maybe its doing multiple frames?). I would presume view would behave the same way. But maybe not.

Back to the ds9 issue: ya, it doesn't do cube, so not much expected, and from my (our) end, the work will be going into a

[2017-03-01 18:29] stscieisenhamer commented on #101
@jemorrison the one i happen to have is a CubeModel, but there is nothing specific. I'll run through the other ones to see if the behavior is the same; I didn't try because none of the documentation read what I was seeing ds9 do with `load_fits`.

[2017-03-01 18:32] sosey commented on #101
yah, we don't want to touch the ds9 and xpa code ..... :fearful:

when ```load_fits()``` is sent a cube (really, ds9 is making the distinction here, it's the same call) then ds9 sets up the cube slider.

when ```view()``` gets a cube, the user needs to specify the slice by giving view the 2d array. ```view(rancube[0])``` would show one slice in one frame.  I haven't setup ```view()``` to know how

[2017-03-01 18:57] stscieisenhamer commented on #101
oooooh, a bug and enhancement. 👍

[2017-03-01 19:00] sosey commented on #101
yah, it's bug-ish, imexam returned the correct error that you gave it a 3d array and it wasn't expecting that, but it could be clearer, and could also be made to accept 3d cubes :smiley:

[2017-03-01 21:47] sosey commented on #101
see https://github.com/spacetelescope/imexam/pull/102

[2017-03-01 21:48] sosey opened #103 "Update imexam() to plot through a cube stack"
Consider updating the imexam command so that when a slice of a cube is displayed you can make plots through the stack. Some thought should be put into how exactly this should work.

[2017-03-02 19:16] stscieisenhamer opened #104 "get_filename is really get_data_filename"
In docs, the term used is `get_filename`, but the example, and true, method is `get_data_filename`

[2017-03-14 18:40] sosey opened #105 "viewing and blinking fits images with ds9"
This was moved over from discussion with @jehturner in https://github.com/astroconda/astroconda-contrib/issues/183#issuecomment-286491174
------
Oh, right. Why not? Sorry, I remember you talking about imexam, now that you mention it (and I think I tried it along time ago). Is this meant to supercede numdisplay then? One thing I do like is being able to display to ximtool as well, which I prefer fo

[2017-04-25 13:48] Gabriel-p opened #107 "imexam window is shown black (and unresponsive)"
I'm testing the following code in my elementary OS Loki (based on Ubuntu 16.04 65 bit)

[code]

`imexam` is installed in a Python 3 `conda` environment:

[code]

with the following packages installed

[code]

With both `ginga` and the default `DS9` I get this

![captura realizada el 2017-04-25 10 42 11](https://cloud.githubusercontent.com/assets/6054951/25388567/90b3b05e-29a4-11e7-840c-cc4621a340a

[2017-04-25 13:51] pllim commented on #107
What is actually in "test.fits"? Is it a valid FITS image?

[2017-04-25 13:54] Gabriel-p commented on #107
Yes, I can load it via a standalone `DS9` session without issues. I can also analyze it with `photutils` just fine:

![captura realizada el 2017-04-25 10 53 36](https://cloud.githubusercontent.com/assets/6054951/25388911/770c70e0-29a5-11e7-8d32-de72523fde62.png)

[2017-04-25 17:22] sosey commented on #107
I don't see the version of ds9 in your conda env, I'm using 7.5 and haven't seen this issue, which do you have installed?

[2017-04-25 17:31] Gabriel-p commented on #107
I'm using v7.5 installed in `/usr/local/bin/ds9`. The aperture sum works just fine (`a` key), but nothing that requires displaying the plot window does.

[2017-04-25 17:38] sosey commented on #107
ah, I missed that you were having issue with the plot display, not the image display...I bet it's qt5.6, copy your env and downgrade to QT4 and try again. I have no issue with this:
[code]

[2017-04-25 17:42] sosey commented on #107
also, check what you have your matplotlib backend set to, or if it's defaulted to something in your ```.matplotlib/matplotlibrc ``` file

[2017-04-25 17:44] pllim commented on #107
Does this imply that `imexam` is incompatible with Qt5?

[2017-04-25 17:45] sosey commented on #107
Not necessarily: http://imexam.readthedocs.io/en/v0.7.1/imexam/description.html#common-problems

[2017-04-25 17:51] Gabriel-p commented on #107
@sosey does `imexam` work with Python 3? I just tried downgrading to `pyqt` 4 (as you suggested) in my Python 3.6 `conda` env, and it said it was not compatible, that I had to install Python 3.4.

So I created a new env with Python 3.4 and installed `imexam`, but the version installed was 0.5.2. When I tried upgrading it to the latest version, I got:

[code]

[2017-04-25 17:52] pllim commented on #107
Try Python 3.5

[2017-04-25 17:52] sosey commented on #107
^ what she said - I haven't tested with 3.6

[2017-04-25 17:54] Gabriel-p commented on #107
Yep, I see now. Just checked `conda info imexam`, and there's no version 0.7.1 for Python 3.4:

[code]

[2017-04-25 18:00] sosey commented on #107
I need to update the classifiers,  I'm only testing on 2.7 and 3.5 right now. Those should work, but you may need to be careful of your matplotlib and qt version for now.

[2017-04-25 18:57] Gabriel-p commented on #107
Thank you both! It works now using Python 3.5 and `pyqt` 4.11.

[2017-04-25 18:57] #107 closed

[2017-04-25 18:59] sosey commented on #107
great!

[2017-07-12 08:18] iskreng opened #110 "Macports and imexam"
Hi,

it seems that imexam is not available as a port on Macports. Is there any plan to port it?

Cheers,
Iskren

[2017-07-12 17:36] sosey commented on #110
Hi  @iskreng  - I don't think there is a current plan to make it available on Macports, but I can look into it.  Is Macports the only thing you are using to manage your environment? Have you tried installing `imexam` with pip?

[2017-07-12 19:44] iskreng commented on #110
Hi Megan,
I'm trying to stick to, and so far I've managed to get all I need via macports. But surely I can install imexam with pip (or downloading the source). I just wanted to keep my system more tidy.
If you find some time in the future, that'll be nice.
Cheers,
Iskren

[2017-07-12 19:49] sosey commented on #110
I'm going to reopen this just so I don't forget it exists :)
cheers

[2017-07-25 20:03] rjavila opened #111 "imexam() can't seem to handle drizzled products."
I can't seem to be able to use imexam() on drizzled products. It's a drizzled product where the 0th extension is the science frame and the 1st extension is a header table. Here's what the product looks like:

`In [25]: !fitsinfo f606w_long_median_drc_sci.fits
Filename: f606w_long_median_drc_sci.fits
No.    Name         Type      Cards   Dimensions   Format
  0  PRIMARY     PrimaryHDU    1075   (60

[2017-07-25 21:17] sosey commented on #111
which version imexam are you running?  There was an extension issue a couple versions ago, I thought I fixed that though. Will you stick a copy of the file on central store or box for me so I can play a little? email me the location..

[2017-07-26 00:22] sosey opened #112 "Add a check to see if the extension being displayed is actually a binary table"
`load_fits()` happily sends a fits binary table to ds9 without error, from either `imexam` or `ds9`, but nothing shows up obviously.  Return a message to the user asking for an explicit extension for display

This came up in #111 with display of an HLSP-type product with the following structure:
[code]

[2017-07-26 00:24] sosey commented on #111
Doing some investigation, I downloaded an HLSP product which shows a similar format to the image you showed:
[code]
aside: this is a weird format, or one I'm not used to,  usually no data is stuck in the global extension (0) of an MEF fits image. This files says it has extensions, then names only extension 1, and has a data array in 0 and a binary table in 1.

The way you specified the filename wi

[2017-07-26 02:29] sosey opened #113 "Fix extension references for MEF FITS image with image data in the PRIMARY extension"
This was also brought to light by #111.

Think about the best defaults to use and how to pass explicit user information so that the correct extension is always referenced regardless of how the user loads the data into `ds9`. Also verify that these changes don't break anything in the `ginga` interface.

[2017-07-26 02:31] rjavila commented on #111
That _strange_ format is what is produced when one runs astrodrizzle with `build=False`. I can tell you that anything I've ever been a part of (Frontier Fields, RELICS, etc.) has used this option so there are many products like that. When set to True, the product has the expected format with an empty 0th extension, SCI in 1st extension, WHT in 2nd extension, etc.  Maybe this is something that shou

[2017-07-26 02:47] sosey commented on #111
Not sure it's really a bug, the formatting it actually does conform to the FITS standard as far as I can tell, I just didn't realize anything was making MEFs like that (it's been a while now since I've done lots of science work with drizzle....)  It's the [1] extension with the table, which looks like the sip information, that makes it seem odd to me. When you load the image through the ds9 menus

[2017-07-26 02:50] sosey opened #114 "QT5Agg backend yields figure error during plotting"
[code]

[2017-07-26 16:43] mcara commented on #113
@sosey I am not sure I understood everything but maybe something like [``stsci.skypac.utils.get_extver_list()``](https://github.com/spacetelescope/stsci.skypac/blob/master/stsci/skypac/utils.py#L299) may be of use... For example, to find all image-like extensions use:

[code]

[2017-07-26 16:47] sosey commented on #113
Thanks @mcara. I'm not sure I want to add another dependency, but the issue here isn't really getting the list of extensions, it's managing the extensions correctly between ds9's xpa and imexam.

[2017-07-26 16:50] mcara commented on #113
This is beyond my competencies 😃

[2017-07-26 16:51] sosey commented on #113
certainly not - it's just in the weeds of how the two tools communicate :wink:

[2017-09-15 18:43] sosey opened #116 "update of xquartz on mac sierra causes resource issue"
After updating to : XQuartz 2.7.11 (xorg-server 1.18.4)

Got the error on `grab()`:

```import import: No window with specified ID exists (imexam1505500606.124432) [Resource temporarily unavailable]. ```

And yet that window and id did exist, the process hang.

[2017-09-15 18:56] sosey commented on #116
Quiting out of the ds9 window returns the python prompt and reports:
[code]
but no actual file was saved.

[2017-09-26 20:09] astrofrog opened #117 "Astropy Affiliated Package Review"
This package has been re-reviewed by the Astropy coordination committee in relation to the Astropy affiliated package ecosystem.

We have adopted a review process for affiliated package that includes assigning quantitative ‘scores’ (red/orange/green) for different categories of review. You can read up more about this process [here](https://docs.google.com/document/d/15PJf2PROXMa7xwTDvWnjXB_9KNuO2I

[2017-09-26 22:38] #117 closed

[2017-10-25 17:35] sanast opened #119 "viewer.imexam() giving inaccurate results from time to time"
Hi. I am trying  to do  a radial plot  using the 'r' key after loading an image to ds9 .

but from time to time it gives me wrong radial plots .     It basically doesn't  read the cursor position correctly when using the r key  .  But it works fine for line and column fit for the same location.   This doesn't happen always.  I have a lot of  three hundred  objects loaded from a regions file. I nee

[2017-10-25 20:35] sosey commented on #119
Hi @sanast  - I'm away at a conference, so my response time may be spotty the next few days.

Try turning off the 2D gaussian fit for centering the radial plots? That's is on by default in order try and get better centering for the radial profile itself. My guess is that the result is spotty because of the signal to noise variation in the stellar profiles themselves.

You can turn off the centerin

[2017-10-26 05:47] sanast commented on #119
Hi. Sosey

   Yes . That fixed the problem  .
   Thank you so much  .

   Yes I do have the centers .  I will try this . I am relatively new to python.   I   looked at the example .

   I am confused  , how to input the third array   ( "data “  in your example   ).  DO I need to read the pixel values from  my image using  something like PYFITS and input it as an array  ?

 Thank you again for the

[2017-10-26 07:56] sanast commented on #119
Hi

I managed to loop through  it by reading the image through PYFITS .

But how I can disable again the centering for the radial plot s .

Even it disabled it for interactive sessions it is still TRUE in plots.radial_profile_pars.

plots.radial_profile_pars
Out[247]:
{'background': [False, 'Subtract background? [bool]'],
 'center': [True, 'Solve for center using 2d Gaussian? [bool]'],
 'fitplot':

[2017-10-26 11:18] sosey commented on #119
right, you're missing the argument that tells the `radial_profile_pars()`  method which option you like to change the default for; change this `plots.radial_profile_pars('center',False)` to this `plots.radial_profile_pars('r', 'center', False)`.  The accepted form is `plots.radial_profile_pars(imexam key function, option , value)`.

The error you're seeing is because the code is looking up the opt

[2017-10-26 14:43] sanast commented on #119
Hi

I already tried it with three argument s .   But I got the same error

In [264]: plots.radial_profile_pars('r', 'center', False)
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-264-5ecc45fa0661> in <module>()
----> 1 plots.radial_profile_pars('r', 'center', False)

TypeError:

[2017-10-26 15:14] sosey commented on #119
no worries, I'll take a closer look at what's going on with the code in the next couple days.
Thanks for being a great tester!

[2017-10-26 15:15] sanast commented on #119
Hi

Ok. Thank you .

[2017-10-31 01:54] adrn opened #120 "Citable record?"
We're planning to reference and cite all Astropy affiliated packages in the upcoming Astropy v2.0 paper. I couldn't find a citable record for this package - are you interested in creating one so that we can cite it? For example, you can create a [zenodo](zenodo.org) record and just comment back here to let me know that it's done. Please also let me know if you'd like to opt out of a citation and w

[2017-10-31 12:25] sosey commented on #120
yah, I've been planning on doing this for ages and just haven't gotten around to it, will bump it to the top. Hoping to do a bugfix release later this week and will tag it there.  Is that soon enough?

[2017-10-31 12:37] adrn commented on #120
Yep, that'll work - thanks!

[2017-10-31 14:44] sosey commented on #119
Hi @sanast - I think I know what's going on, I had to run through it in person myself to remember, as it's been a while since I used the package. I don't think there's a bug, there's just 2 ways to set the parameters for each imexam function depending on if you're using the simple interactive method, or the programmatic one - which assumes a little more python knowledge, but I could probably make

[2017-11-04 00:00] sosey commented on #119
Hey @sanast, just checking in - any luck?  I'm gunna make a new release of imexam tomorrow and wanted to make sure things are working for you.

cheers

[2017-11-04 00:44] sanast commented on #119
Hi.

I am really sorry that I couldn’t.  Reply to you .

I dint have time to test it  again . I am just finishing my thesis and was really busy .
I went to a different method that  I can test it without  looking at radial profiles .  So  I didn’t check it after that .

But thank you so much for updating it with me.  My plan is to use imexam in my future work and I am glad that you plan to update i

[2017-11-04 00:45] sosey commented on #119
no problem. Good luck with your thesis!
cheers,

[2017-11-04 00:45] #119 closed

[2017-11-06 22:48] sosey commented on #120
sorry for the delay! The zenodo reference is published now with v0.8.0

[2017-11-07 00:25] adrn commented on #120
thanks!

[2017-11-07 00:25] #120 closed

[2017-11-08 16:40] sanast commented on #119
Hi
I was able to test  it .
Yes it works in that way .

One issue I have is ,  I need to loop through  around 200  stars to get the radial profile .
Even though the loops works it does not out put all the plots .  It only show me last plot . ( I guess  it replace s the previous one  each time the loop runs ).

My code was like this

from imexam.imexamine import Imexamine
plots=Imexamine()
plots.ra

[2017-11-08 20:41] sosey commented on #119
I think that the plotting issue is specific to jupyter notebooks, it should only display the last plot for the cell. You can have it display as you go, but if you want all of them to display it's probably better to save the data and use matplotlib to create a plot which has all of them ordered in an NxN matrix.

You can also run the plotting in a loop and save to a single file, here's an example t

[2017-11-09 02:42] sanast commented on #119
HI

For some reason,   it reads completely different  coordinates  and  out put pdf file  has empty set of  graphs .  ( Attached here )

I had to include  another argument  before  genplot=False to get it  to work  for the following function.

I guess that  is to identify the pixel s in the image .

My code  is like this

import numpy as np
import pyfits
from astropy.io import fits
f = pyfits.open

[2017-11-09 04:46] sanast commented on #119
Just to update you ,

  I tried this in a separate python program and it worked  .   I was able to print all the graphs in to a  pdf file .

 Only issue I have for now is with this line

 plt.title('Rad. Prof for {}'.format(star))

Because the the title I see in each graph,  the coordinates  are complete different and  not sure where it come from.   I was expecting the x,y coordinates

to print th

[2017-11-09 08:16] sanast commented on #119
Hi

It basically doesn’t  print the plots in the order  I have them in the text file .

There is nothing wrong with  the code .    It  would be nice if it pains in the order I have them in the text file .

 Thank you again for helping me with this .

One thing I  can suggest ,

1.   it will be nice if I can see the same exact  radial plot with FWHM values in the x axis ( as it is shown in IRAF).

[2017-11-20 16:34] olebole opened #122 "xpa module conflicts with pyds9"
Original bug (Ubuntu): https://bugs.launchpad.net/bugs/1733352

Imexam does not play together with pyds9. While both have overlapping use cases, it may be good that a user has the opportunity to install and use them in parallel. One way could be to make the package a subpackage of imexam, another to agree on a common xpa package.

See also ericmandel/pyds9#58 for the pyds9 issue.

[2017-11-20 16:39] sosey commented on #122
@olebole can you comment further on how the xpa module conflicts with imexam?

The xpa C code is a submodule of imexam, imexam uses a cython wrapper to access it's functions and interface with DS9. pyds9 (last time I looked) used ctypes for it's interface.

While the two packages do have overlap, imexam provides a library of methods that help examine and plot images, not just provide access into t

[2017-11-20 16:45] sosey commented on #122
I did take a quick look at the bug report you listed, but I don't see anything there that would lead me to believe that having imexam installed in the environment would conflict with importing pyds9.  Maybe there's a script install somewhere that's clobbering between the two packages ... I haven't investigated it on my machine yet, but I'll give it a go this afternoon.

[2017-11-20 16:46] olebole commented on #122
I can confirm the bug; when I installed imexam and pyds9, then I get the following when running:
[code]
I think this is because `wrappers/xpa.pyx` goes to the top namespace?

[2017-11-20 16:48] sosey commented on #122
yah, lemme check that out..

[2017-11-20 16:56] montefra commented on #122
In pyds9 version <= 1.8.1, pyds9.py and xpa.py got installed at the ``site-packages`` level. I think that this is what is causing the issue. The next version of pyds9 should have both into a ``pyds9`` directory and might solve the problem. But I don;'t know yet when the new version will be ready.

[2017-12-05 16:02] sosey commented on #41
@eteq related to our discussion

[2017-12-05 16:56] pllim commented on #41
Huh? Is this reviving after 2 years?

[2018-01-17 20:02] sosey commented on #114
may not be related, but switching to the TkAgg backend on my mac fixed the double-click display plot issue, in Qt5 i've needed to hit the exam key twice to get the plot to display during the imexam loop.

[2018-02-22 21:11] jehturner commented on #122
We also ran into this, but it appears to be fixed with `pyds9 1.9.0.dev`.

[2018-03-22 18:42] SaraOgaz opened #131 "Documentation request"
Hi,

I'm passing on the following documentation request from @mackjenn:

The example for displaying an image shows how do do it in DS9 or Ginga
http://imexam.readthedocs.io/en/latest/imexam/examples.html#basic-usage

But the example for tvmark only shows how to load a coordinate list in Ginga.
http://ginga.readthedocs.io/en/latest/manual/plugins_local/tvmark.html

How do you do it in DS9??

[2018-03-22 18:48] pllim commented on #131
@SaraOgaz , if your problem is with `TVMark` plugin, that belongs in Ginga's repo, not here. Also, documenting DS9 is out of scope for Ginga. IRAF's `tvmark` task is already documented at http://stsdas.stsci.edu/cgi-bin/gethelp.cgi?tvmark (and that is the one people used with DS9).

[2018-03-22 18:56] SaraOgaz commented on #131
Sorry, this was my bad.  @mackjenn, we can talk about this offline if you want.

[2018-03-22 18:56] #131 closed

[2018-03-23 17:22] sosey commented on #131
There's is an example here: http://imexam.readthedocs.io/en/latest/imexam/examples.html#advanced-usage-interact-with-daophot-and-astropy

that shows how to mark objects in the DS9 image using imexam if you're still interested, mark_region_from_array() is the function. It's also shown in input line 23 here: https://github.com/spacetelescope/imexam/blob/master/example_notebooks/imexam_ds9_photometry

[2018-03-27 21:39] sosey opened #132 "Add a getting started section"
Add a new sections for those not too familiar with python or with imexam that walks through some of the basics and gets them up and running with screenshots and simple examples.

There's already some basic stuff here, but I think it can be made more explicit and helpful:
http://imexam.readthedocs.io/en/latest/imexam/description.html#usage

[2018-03-28 15:17] sosey opened #133 "Add goodness of fit measure to fit methods"
email discussions with a user, Renato Martone, resulted in a request to return additional information with the line_fit that would describe the chi-squared or p-value for the fit.

[2018-03-28 15:59] #122 closed

[2018-03-28 16:04] jehturner commented on #122
PS. Putting a module named `xpa` directly into `site-packages` nevertheless seems inadvisable :wink:.

[2018-03-28 16:05] sosey commented on #122
true.

[2018-04-03 19:44] mackjenn opened #134 "imexam radial profiles - error in radius value on x-axis"
http://imexam.readthedocs.io/en/latest/imexam/examples.html#example-2

Trying out Example 2, but find that the radial profile in python does not match the one from pyraf.  The radial profiles are helpful diagnostics for evaluating the quality of the PSFs.

Here is a comparison of the same star used in the example.
![imexam_ex2](https://user-images.githubusercontent.com/28714829/38271745-471a62ca-3

[2018-04-03 20:58] hcferguson commented on #134
My guess is that the centering isn't the same.

[2018-04-04 17:16] mackjenn commented on #134
In the first plot,
python(x,y)= (462.44, 377.04)
pyraf(x,y)   = (463.38, 378.08)
In the 2nd plot
python(x,y)= (1864.32, 1093.86)
pyraf(x,y)   = (1865.28, 1094.86)
so aside from (-1,-1) difference in convention, the center values are nearly identical.

[2018-04-04 18:55] sosey commented on #134
perhaps local sky subtraction?  Will you send me the parameters you used for both versions?

[2018-04-04 19:50] sosey commented on #134
hey @mackjenn, do me a favor and install imexam from the current master and try again? There's lots of updates there, and I'm pushing more this week getting ready for a new release.

from a conda environment:
[code]

[2018-04-05 17:56] mackjenn commented on #134
Sure, I'll do an update.
My parameters are below.

One question is whether the python parameter 'skyrad' and the pyraf parameter 'buffer' are the same. I think not.  I'm assuming skyrad is from the star center, whereas, buffer= skyradius-aperture_radius.

For example, skyrad=15 is the same as buffer=10 for an aperture radius =5.   (TRUE?)

-----Aperture Photometry Comparison-----

'skyrad': [15, '

[2018-04-05 18:11] philhodge commented on #134
@mackjenn I think your interpretation is correct.  The help file for iraf imexam is almost incoherent with regard to `buffer`:  "Buffer distance from object aperture of background  annulus  for aperture sums and radial profile plots."

[2018-04-05 19:05] mackjenn commented on #134
I updated to imexam-0.8.1.dev344, but see the same behavior.
I will say the new aperture photometry graphic is great!!

Also, I realize that I forgot to set background=True for the radial plot, but that doesn't change the results. (It simply offsets all the points by a small constant value on the y-axis).

Thanks for having a look at this, Megan!  😃

[2018-04-05 19:07] sosey commented on #134
**RE: skyrad for this package:**

The `imexam` radial profile parameters:
[code]
skyrad here is taken to the inside radius of the sky annulus, which according to the defaults will have a width of 5 pixels.  So from the center of the star, the sky background annulus starts at 10pixels and extends to 15 pixels. This is an image generated from the aperture photometry key, it shows the object, with th

[2018-04-06 17:07] sosey commented on #134
I *think* that the values we are getting from `imexam` are reasonable, plus or minus the fractional pixel center of the source. I don't have the exact radius values from IRAF, but we can look at them from `imexam` explicitly and judge for ourselves. Here's the reasoning:

* using the center that @mackjenn  listed for the star to begin with: (x=462.44, y=377.04), we have this star:
![test_snap](htt

[2018-04-10 18:40] Vb2341 commented on #134
I've actually had to implement something similar for some science work, and I think the issue might be the centering (and therefore the distance computation).  I simply calculate the center of mass and measure the distances to each pixel center from the center of mass (within an 11x11 cutout).  I've used the same source you used in a quick test and  my result seems to match the pyraf result pretty

[2018-04-10 18:51] sosey commented on #134
yes, when I use the COM that iraf uses for the points I get the same thing, and I can match the centroid from iraf exactly with sigma clipping.  I know the differences between `imexam` and iraf at this point, the question is what is the better way to do it.  I have other fit updates on disk that I'm generalizing and will push shortly.  If you'd like to test the changes I'll ping you on the PR when

[2018-04-20 16:56] stscieisenhamer opened #136 "cannot load when directory path has spaces"
# Issue

This is more of an XPA thing I believe, but if a directory path has a space, loading fails:
[code]

[2018-04-20 17:59] sosey commented on #136
yah, I have to give xpa the full path reference, but I believe I'm constructing that myself, so maybe an easy fix

[2018-05-03 23:52] KathleenLabrie opened #137 "ds9 not being registered"
I start ds9, I start Python.  Then import imexam, and list_active_ds9(), and nothing, no active sessions registered.

[code]

I've had it work too.  It seems to be random whether it works or not.  I haven't been able to find a pattern.

The conda environment is created as follow: `conda create -n geminiconda python=2.7 iraf-all pyraf-all stsci gemini`

The ds9 version is v7.5.

[2018-05-04 00:51] darthoctopus opened #138 "view() does not actually accept a header"
Although the documentation suggests that I can pass a FITS header to the view() method, actually attempting to do so yields
```TypeError: view() got an unexpected keyword argument 'header'```

[2018-05-04 14:43] sosey commented on #138
Thankyou for the bug report!   The documentation here is wrong.

`view()` is meant to display a numpy array to either the DS9 or Ginga window.

imexam.view() --> displays an in-memory numpy array
imexam.load_fits(filename) --> loads and displays a fits image

If you would like to look at a fits header, you can use the standard fits syntax or from an already displayed image,  imexam.get_header()

c

[2018-05-04 14:54] sosey commented on #137
arg...lemme see if I can replicate...

[2018-05-04 18:27] sosey commented on #137
I can't reproduce you're error, but I wonder if it has something to do with the xpa.so that's getting installed in site-packages. I think the tar on pypi is messed up,  running a local package install puts its in the imexam/ directory so it doesn't conflict with other packages.  When I pull and build 0.8.0 from the repo the shared library goes to the proper place...give that a go in your environme

[2018-05-04 20:05] darthoctopus commented on #138
I think the main utility of this would be to pass a FITS header to DS9 for use in conjunction with a numpy array, rather than retrieving one from the current view (e.g. one could reduce a frame in memory, but use the coordinate system & flux calibration from the raw FITS file to do analysis with DS9)

[2018-05-07 13:33] sosey commented on #138
That could be interesting, but as far as I know the XPA interface that needs to be used to talk with DS9 doesn't allow for this. You might consider opening an issue over in the DS9 repository. As a secondary option, you could always write the array you processed back to the fits file and then load it as a whole for further analysis, as long as you update the header information for any pixel rescal

[2018-05-09 18:51] KathleenLabrie commented on #137
Thanks Megan.   I can't build it.   It complains that it cannot find
xpa.h.   (I'm doing a simple python setup.py install on a checkout of
"stable".)

Also, I don't think that the location of the xpa.so library is the issue
here, not the primary one anyway.  I have the same environment on another
machine, with xpa.so in site-packages, not in imexam/ and it works fine.
(... most of the time... that

[2018-05-09 19:52] sosey commented on #137
you're getting the xpa.h file probably because the cextern directory needs to be initialized after the repo pull. `git submodule update --init -- cextern/xpa` should do it. Then you can `python setup.py install`

That's a really old xpa, you should consider updating to be at 2.1.18, as shown here: `https://github.com/spacetelescope/imexam/tree/master/cextern`

There are multiple methods that the X

[2018-05-09 19:54] sosey commented on #137
oo, also, don't checkout stable, checkout the v0.8.0 tag or use the master branch

[2018-05-10 01:48] KathleenLabrie commented on #137
Wait a second here.  People cannot use imexam with ds9 on a plane without
internet, for example?  Seems a bit ill advised.  I'm just trying to
display data that is local to my machine, why would I require internet for
that?

`which xpainfo` does return the xpainfo from the correct environment.  The
same issues arise with v2.1.17 (which is what gets install in a fresh
environment.)

Compiling 0.8.0

[2018-05-10 02:25] KathleenLabrie commented on #137
I found a solution!  I don't know if it's THE solution but it sure works as
a workaround.   I can display offline and my XPA_METHOD local issue is gone
too.  The /etc/hosts needs to be edited.  The first line needs to be:
"127.0.0.1   machinename localhost".   Not just localhost and not
machinename.local (as recommended by some on the internet).   (Tested on a
Mac.)   There might be consequences b

[2018-05-10 18:37] jehturner commented on #137
If I have understood you both correctly, it's not that localhost was defined incorrectly on @KathleenLabrie's machine, it's that she had to add something like `hostname` (eg. "kathleen-laptop") to the usual `127.0.0.1` entry, which is not normal.

I'd be a bit wary about that as a general workaround, in terms of unexpected consequences and also some users not having root access to change it. I ten

[2018-05-10 21:13] sosey commented on #137
correct. I don't know why she had to change the localhost to point to her specific machine name. I don't have to do the same on my machine, whether or not I'm connected to the internet. I have the standard redirects:

 It would be great to have more testing...let me know if you run into the same problems so we can diagnose the best solution and add it to the solutions in the docs :)  google-fu sug

[2018-05-11 19:36] #101 closed

[2018-05-11 19:44] #110 closed

[2018-06-04 17:46] SimonKrughoff opened #139 "Gitter for imexam"
What is the suggested way for users to interact with the imexam dev team?  I have found gitter to be very useful, but I understand why teams would want to strictly use issues instead.

[2018-06-04 18:11] pllim commented on #139
Hello. Thank you for your interest in `imexam`. Either GitHub issues here or sending a help call to `help[at]stsci.edu` is acceptable.

[2018-06-04 18:32] SimonKrughoff commented on #139
Will do.

Have you thought about opening a gitter channel?  The real time aspect has really been a game changer for how I interact with open source projects.

[2018-06-04 18:34] sosey commented on #139
I also keep up with the astropy slack channel, if you'd like to have a discussion there, there's a link to the astropy slack here: http://www.astropy.org/help.html. I created an affiliated-imexam channel we can try out there.

[2018-06-04 18:35] SimonKrughoff opened #140 "imexam over tunneled XPA"
I've had some success using DS9 running locally using ssh tunneled ports from a process running on a remote machine: e.g. QA on data produced by running on a shared cluster.

Are there any suggestions on best practices for doing this?  It doesn't work out of the box, but I don't know how hard I should try to even attempt such a thing.

Is the answer just "Use ginga"?

[2018-06-04 18:35] sosey commented on #139
personally, I'm on gitter, but I tend to have more projects interacting on slack, so I find I use it more...

[2018-06-04 18:37] SimonKrughoff commented on #139
OK, thanks.  I prefer gitter for open source projects because it seems more open, but I also definitely use slack more.  Slack has way more features.

[2018-06-04 20:32] SimonKrughoff commented on #140
I am not forwarding X, I'm actually forwarding the XPA calls so that the X rendering is done on my local machine.

To be more concrete, I have the following in my `.ssh/config` on the remote system:
[code]
I do `ssh local_machine` on both my local machine and the remote one, I do `export XPA_PORT="DS9:ds9 22222 22223"`.  This makes ds9 listen on the ports that are being tunneled.

Finally, I fire

[2018-06-05 00:45] sosey commented on #140
got it. I'm traveling until tuesday evening and will give a look at this wednesday. Thanks!

[2018-06-07 23:10] sosey commented on #140
`imexam` speaks to the XPA directly, so I can see how working with just DS9 commands that have been directly aliased from the XPA works.  `load_fits` and `imexam` are package specific functions that try and make communicating with different image visualizers follow the same interface.

Are you able to get a copy of the data that is displayed,  as a numpy array, on the remote machine, using `viewer

[2018-06-12 00:13] SimonKrughoff commented on #140
There are a few steps to get to the point of trying out `imexam`.
* First is making the connection.  The ds9 connector currently assumes that I'm running an `xpans`.  In the case that the code is running remotely to the ds9 instance, this isn't true.
When I do `viewer = imexam.connect('localhost:22222')` the error is:
[code]
If I just set `self._xpa_name` to `target` in the `ds9` constructor, I ge

[2018-06-12 00:33] pllim commented on #140
There's always Ginga...

[2018-06-12 04:55] SimonKrughoff commented on #140
I'll try ginga.  @pllim are you saying I should give up on ds9 in this context?

[2018-06-12 11:37] sosey commented on #140
@pllim have you run the ginga gui with data tunneled from another machine?

[2018-06-12 12:22] sosey commented on #140
@SimonKrughoff right, xpans is the nameserver and the code tries to validate that the connection named in target exists to speak to. I can try changing the logic to set the connection over the tunnel for you when it doesn't find the target locally.

For the data-send over the tunnel, we may need to add an extra parameter to the `imexam.connect()` specifying that the target is remote so that I can

[2018-06-12 13:27] pllim commented on #140
I have seen a demo where Ginga is running on a machine and you can use it from a different machine. The demo was done in a Jupyter notebook interface. xref https://github.com/ejeschke/ginga/blob/master/ginga/examples/jupyter-notebook/Remote_control_of_a_Ginga_reference_viewer.ipynb

I believe the non-notebook GUI also has some remote connection feature but I haven't seen that one in action persona

[2018-06-12 13:28] pllim commented on #140
If we can get this to work on Ginga instead of DS9, it would also benefit JWST in the near future. Just sayin'.

[2018-06-12 14:11] SimonKrughoff commented on #140
I'd be happy with either.

[2018-06-12 16:43] sosey commented on #140
It's possible to do it with DS9, I just need to make sure I have all the options ironed out in imexam. I'm looking for a local system I can do testing with.

[2018-06-14 17:50] SimonKrughoff commented on #140
As motivation for why I'm trying to do this, I have a bunch of data stored in the cloud on: e.g. Google Cloud Storage.  I have processes that can run reduction/analysis routines on those data.  I would like to then examine the data from within a container running in the Google Cloud (on GKE for example).

[2018-06-14 19:45] sosey commented on #140
I'm with ya :)  I hacked something rough together yesterday and then hosed my XQuartz :/  But I'm pretty sure this will be possible.

[2018-06-20 19:51] pllim opened #141 "Update the help"
Tyler Desjardins mentions that we should consider moving emails from `help[at]stsci.edu` to point to the web portal where possible and appropriate. For HST (or any non-JWST), it is https://hsthelp.stsci.edu . For JWST, it is https://jwsthelp.stsci.edu . Please update info in `setup.py`, `setup.cfg`, documentation, etc as appropriate.

Please close this issue if it is irrelevant to your repository.

[2018-07-10 03:38] eteq opened #142 "coordinates from key commands wrong when used with full-screen window"
I noticed some very odd behavior (on a Mac, which may or may not be relevant).  If I am running a jupyter notebook from a full-screen window (not just filling the screen but in the "full-screen" mode Macs now support), and have ds9 on a regular desktop, all the imexam commands don't work.  Specifically, they report x/y positions different from where the cursor actually is.  I suspect this is some

[2018-07-10 18:17] sosey commented on #142
Wierd - a couple questions to help diagnose:
* are you using ds9 Xquartz or native? How do you keep your ds9 from disappearing behind the full-screen window?
* do you have multiple monitors?
* are you using something other than the native aspect ratio? Do any of the resolutions work?
* is your display scaled?
* what browser are you using?

[2018-07-16 21:13] FSBoyden opened #143 "automatically plotting surface plots from python script"
Hi

I would like to automatically plot surface and contour plots of a specified section centred at predefined coordinates from a python script.

Reasoning: I would like to monitor in real time a stellar image from a live CCD feed (multi-exposure) as the fits files are displayed in ds9. I use xmccd lib to interface with Apogee CCD. It utilises ds9 to display the image data and saves the image to fi

[2018-07-17 20:36] FSBoyden commented on #143
Hi Megan

The additional errors are sorted. My xauth/xhost permissions for DISPLAY was not set.

This also sorted the manual interactive plotting commands during live feed.

Thus: Back to the scripts:

The script that monitors "feed" from camera is just a .sh script:

#/code start

DIR=./
inotifywait -m -r -e create "$DIR" | while read f
do
    python colimage.py
done

#/code end

it runs colimage

[2018-07-17 22:34] sosey commented on #143
Hi Pat,

Glad the display is working now.

For the plotting, I think the easiest way to go is to open a separate plotting instance. You can do this regardless of the imexam() object that you already have interacting with ds9. You can either retrieve the data into an array from the viewer object and then use it, or you can read it in from file.

An example would be, starting with what you already h

[2018-07-18 15:21] sosey commented on #143
ah yes, if you're just calling the script from the shell, as soon as the script terminates the windows will close.  The script didn't make it through, if you'd like you can send it directly to me at  sosey at stsci dot edu and I'll take a look.

 The save works as you surmised, that command, `plotter.save("filename")` will save the current plot window to file, and it will be of the type specified

[2018-07-18 15:21] #143 closed

[2018-08-14 16:53] pllim opened #144 "Retire Python 2"
Python 2 will not be maintained past Jan 1, 2020 (see https://pythonclock.org/). Please remove all Python 2 compatibility and move this package to Python 3 only.

For conda recipe (including `astroconda-contrib`), please include the following to prevent packaging it for Python 2 (https://conda.io/docs/user-guide/tasks/build-packages/define-metadata.html?preprocessing-selectors#skipping-builds):

[

[2018-09-08 07:31] kyika opened #145 "support for wcs"
in the iraf imexamine task, if set wcs=world and press 'a' key, it can print image coordinates as well as wcs, for example :

#   COL    LINE       COORDINATES
#     R    MAG    FLUX     SKY    PEAK    E   PA      ENCLOSED GAUSSIAN DIRECT
1304.81 2684.19 183.9039 36.32291
  10.57  20.41   68.59  0.1386    2.37 0.06   47          5.93     3.86   3.51

where  183.9039 36.32291 are the ra and dec of

[2018-09-29 00:32] KathleenLabrie commented on #137
A follow up.  I'm now testing a new laptop.  OS X Mojave.  Fresh computer.  (like the other one)  I am having the exact same problem that I solved the exact same way as before:  adding the hostname before localhost on the 127.0.0.1 line in /etc/hosts.   [imexam v0.8.0]

[2018-10-04 04:46] #112 closed

[2018-10-04 04:46] #113 closed

[2018-10-04 04:46] #132 closed

[2018-10-04 04:46] #134 closed

[2018-10-08 10:29] xnox opened #148 "0.8.0 fails test suite on s390x"
In Ubuntu and Debian imexam fails test suite:

Ubuntu:
[code]

[2018-10-11 00:51] sosey commented on #148
Thanks for the report! I can't replicate on my working machine, will look into it :+1:

[2018-10-11 21:17] xnox commented on #148
If that's of any help I can test build things. And you can always setup to build/package/publish your software as snap in snapstore; or create a PPA in launchpad.net both offer amd64, i386, armhf, arm64, ppc64el, s390x architectures (just enable them in settings). Can't get a console, but it can do builds for you.

[2018-10-12 14:50] sosey commented on #148
hmmm, I haven't used launchpad, I'll look into it.  In the meantime, I just pushed some big updates to master, if you're willing, pull them and run through the tests?  I'm dropping python2 support soon, you might try the tests on both 2 and 3.

[2018-11-21 08:58] lkeller opened #150 "imexam 'a' key doesn't plot phot annulus in DS9; 'c' and 'l' keys crash imexam session on Mac"
Using Python 3.6.4, DS9 7.6 (XQuartz v2.7.11) on MacOS 10.13.5:

In imexam session pressing 'a' key prints photometry data to terminal, but does not
plot the photometry annulus on the DS9 viewer. Also pressing 'c' or 'l' for plot
crashes imexam session with:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.6/site-packages/imexam/connect.py",

[2018-11-21 14:19] sosey commented on #150
Thanks for the report! Can you give me some debugging information? What version of imexam are you running `imexam.__version__`, and what matplotlib backend are you using? `matplotlib.get_backend`

[2018-11-25 07:44] lkeller commented on #150
imexam 0.8.0 and using TkAgg backend. Tried Qt5Agg and Qt4Agg but same behavior.
Thanks for looking into this.

[2018-11-28 21:07] pllim opened #151 "[Windows 10] Forbidden socket access"
Running this on notebook on Windows gives me error.
[code]
[code]

[2018-12-03 21:40] sosey opened #152 "use of arrow keys during the imexam() loop with ds9 is ignored"
@KathleenLabrie reports that when using the imexam loop with ds9, the arrow keys are unusable (or at least ignored)

[2018-12-07 19:22] sosey commented on #141
not relevant

[2018-12-07 19:22] #141 closed

[2018-12-07 19:30] #104 closed

[2018-12-07 20:35] sosey opened #153 "TkAgg in X11 on osx 10.13.6"
I had to switch to the Qt4Agg backend for matplotlib to get the auto close of plotting windows to work correctly. This is a new "feature" on my mac running mohave that didn't exist in 10.12

[2018-12-10 20:55] sosey commented on #150
I'm also running HighSierra, but I haven't been able to reproduce this issue, can you point me to a copy of your data so that I can investigate further?

[2018-12-10 21:04] sosey opened #154 "ginga having issues with Tornado and QThread"
This hosed my terminal requiring a force quit

on osx 10.13.6
Using /Users/sosey/miniconda3/envs/imexam-sprint/lib/python3.5/site-packages
Finished processing dependencies for imexam==0.8.1.dev360

[2018-12-10 21:18] pllim commented on #154
Conda is pretty bad with managing Python 3.5. Do you have problem still with, say, Python 3.7?

[2018-12-13 22:48] sosey commented on #154
notes for me: ....so this is due to a real threading difference between the ipython terminal and the kernel in the notebook. (the 404 access might be  a template finding issue). qtconsole is a good alternative for the moment till I sort this out. Using qtconsole will print the figures to the console window.
<img width="795" alt="screen shot 2018-12-13 at 5 47 51 pm" src="https://user-images.github

[2018-12-14 14:18] lkeller commented on #150
Here's a link to two FITS files I've tried to use with imexam. They are from different sources, but I get the same failure, reported above, with both of them.

https://www.dropbox.com/sh/5dgktt4b781h7rb/AADiA-kSN_6BD9kgzuqzhc9Ua?dl=0

[2018-12-14 14:46] sosey commented on #150
@lkeller I still can't replicate, it's working for me in TkAgg and Qt4.  However, let's move you to the dev version and see if that fixes your bugs...I'm also releasing 0.8.1 today from this branch. You can either pull the repository yourself using git, or you can directly install using pip.  If you used conda to install imexam in your current environment remove it first:  `conda uninstall imexam

[2018-12-14 21:14] sosey commented on #152
@KathleenLabrie I implemented something that would recognize arrow keys and increment the pointer location for ds9, but I'm not sure it's working quite right. The interaction seems dependent on personal terminal focus settings...test out imexam v0.8.1 that was just released and let me know what issues you see.

[2018-12-14 21:15] sosey commented on #148
0.8.1 was just released if you're interested in testing...it will be the final py2.7 build

[2018-12-15 12:43] lkeller commented on #150
Uninstalling 0.8.0 and installing 0.8.1 fixed these problems! A new issue is that I get the spinning beach ball over any imexam plot windows. I can still use the imexam key functions, just can't interact with the current pyplot window (matplotlib-3.0.2). Here's the associated error:

invalid command name "4530443976idle_draw"
    while executing
"4530443976idle_draw"
    ("after" script)

This is

[2018-12-17 15:34] sosey commented on #150
excellent (for the first).  For the beach ball...are you using the TkAgg backend now or the Qt? I had no issue with QT4/5Agg with the plot windows closing. In TkAgg, the window would hang, but still update and allow functionality through imexam.  I think this might be a loop+threading issue when using imexam+matplotlib from an ipython terminal, as opposed to from an ipython console or a jupyter no

[2018-12-19 20:07] sosey opened #159 "implement ape14 for wcs"
To allow fits and asdf files to be displayed to ds9 and ginga using the appropriate wcs objects.

[2018-12-19 20:17] pllim commented on #159
Ginga already has a PR for this over at ejeschke/ginga#719 . It basically works; I just don't have time right now to go back and wrap it up.

[2018-12-19 20:20] sosey commented on #159
yes, but I need to implement it for DS9 and update my calls into ginga

[2018-12-23 14:52] lkeller commented on #150
Thanks. I'll give this a try.

[2019-01-06 20:34] jrthorstensen commented on #145
I was going to raise the same issue.

[2019-01-07 00:18] sosey commented on #145
wcs is on my list of stuff to tackle soon, trying to find the best way to support multiple wcs libraries, but will ping you both here when I have something for you to test!

[2019-01-07 01:37] jrthorstensen commented on #145
Megan -

Thanks for the quick reply!  This has great
promise and big chunks of it already look great.

One other note, though it may seem trivial:
"it's" is used repeatedly as a possessive in the
documentation.  As the offspring of two
English teachers I find it a bit distracting.
The rule is, of course:

"it's" = "it is", a contraction;

"its" = the possessive, shorn of the apostrophe
to avoid a

[2019-01-09 20:32] pllim opened #160 "Infrastructure updates notice from Astropy Project"
Hello from Astropy Project!

The following updates to your package might be necessary to ensure compatibility with the latest stable version of Astropy:

- [ ] MPLBACKEND is now set to Agg in `ci-helpers`, packages expecting interactive plotting should override it in `.travis.yml`
- [ ] Astropy 3.1 is not compatible with Numpy <1.13 versions. If you want to keep testing these older Numpy versions,

[2019-03-05 23:25] chris-simpson opened #162 "Setting XPA_METHOD=local is not the solution"
I have seen the following behaviour in Py3.6.8/imexam0.8.1 on CentOS7; Py2.7.15/imexam0.8.0 on the same OS, and Py2.7.14/imexam0.8.0 on MacOS.

terminal, no ds9 running on the machine, XPA_METHOD not set, I run the following script (it's important that it's run as a script from the command line and NOT as commands in an interactive session, for reasons that will become clear later):

#!/usr/bin/en

[2019-03-09 18:26] sosey commented on #162
Hi Chris,

I'm usually interacting with imexam and ds9 through an interactive terminal session, so thank you for reporting the issue.

I'm not an expert, but inet sets up an IP communication socket over a network, local uses a unix file reference as the socket, localhost sets up up a more complete TCP protocol for communication. Each has different setup/communication timing limits, though in gener

[2019-03-21 19:59] sosey opened #163 "update to xpa minor release"
https://github.com/ericmandel/xpa/releases/tag/v2.1.19

[2019-03-27 13:51] prdurrell commented on #162
This thread has helped me, as I am having the same issues...I too have am having troubles getting
viewer = imexam.connect()
to work properly (eg. to display an image after starting DS9) without a time.sleep(2).      However, my goal is to use imexamine interactively, so I would be interested to know if there is a workaround for this.   Or did I miss any new documentation on these?

MacOS El Capita

[2019-03-27 13:53] sosey commented on #162
@prdurrell are you trying to use imexam interactively or calling it from a script?

[2019-03-27 13:54] sosey commented on #162
I you could open a new issue and paste in the output you are seeing there with your use case it would be helpful, we can link these two issues if they turn out to have a similar root cause - thanks!

[2019-03-27 14:19] prdurrell opened #164 "Trouble starting starting new DS9 display before running imexamine"
I am having problems with starting up DS9 from within a jupyter notebook with the basic commands in the documentation (ticket INC0135973).  With

_viewer=imexam.connect( )
viewer.load_fits('jdkb12010_drc.chip1.fits')
viewer.scale()_

I get the (dreaded?) error:    XpaException: Unknown XPA Error : XPAGet returned 0!

When I use the following:

_import os
os.environ['XPA_METHOD'] = "local"
viewer=i

[2019-03-27 14:22] sosey commented on #164
ah - Jupyter notebook, got it. Just quickly -  you should only set `XPA_METHOD` to `inet`, not 5137, that's an iraf port thing... Will you give it a go with the lated DS9, v8.0.1?

[2019-03-27 14:39] sosey commented on #164
Also, is your mode of normal interaction that you open then notebook, and then `run all` the cells with the intention of getting to something else, or are you running through by hand for interactive analysis? If you run all, there's no wait for the connection to finalize and you should add a sleep(2) like in the related ticket (#162). Interactively, wait for the DS9 window to appear and you should

[2019-03-27 14:49] prdurrell commented on #164
Hi -- just using "inet" does not help, I have found.    I was using DS9 v7.6 as that is the latest version conda update would give.   I will try v8.0.1
  I am running through by hand for interactive analysis, but the imexam.connect() and the loading of the image are in the same cell, and run together.

[2019-03-27 14:52] sosey commented on #164
it's a DS9 startup timing thing...lemme see what I can do behind the scenes to get the socket connection better timed, if you are just interactive, put the commands in separate cells for now and wait for ds9() to startup before loading the image, that should at least get you going....let me know if you still can't connect properly though...

[2019-03-27 14:53] prdurrell commented on #164
I suppose I am still trying to run 'imexamine' much as I would with IRAF/PYRAF -- simply display an image, and run the interactive mode and have displays/output to another window.   I do not normally run things in any type of batch mode, or give lists of co-ordinates in a table.

[2019-03-27 14:56] prdurrell commented on #164
FInally...not sure how to update conda with DS9 V8.0.1, as conda has 7.6 built-in.    Is there a way to update ds9 in conda to a linked executable (eg. Mac executable from SAO) with a newer version?

[2019-03-27 15:00] prdurrell commented on #164
I am putting the commands in separate cells for now, and that seems to work.  Many thanks!

[2019-03-27 15:05] pllim commented on #164
Theoretically, this would work: Uninstall DS9 completely from `conda`. Install the standalone version and make sure it is installed somewhere in your PATH. *NIX path resolution would take care of the rest.

[2019-03-27 15:06] sosey commented on #164
one more - I see the `wait_time` message,  are you loading the notebook across an internet connection, ie from a non-local computer or server? `local` shouldn't result in the connection killing ds9 unless there's something else going on. You might try using `local` and extending the wait time by adding a few seconds, i.e. `a=imexam.connect(wait_time=15)`.

update ds9 - you can download the latest

[2019-03-27 19:00] prdurrell commented on #164
Thanks for the info.    I will also try the wait_time...have not yet experimented with that.   Once I get V8.0.1 working, I will test that also to see if it makes any difference.

[2019-03-27 19:01] sosey commented on #164
cool. Thanks for reporting your issues, I really appreciate the feedback :)

[2019-03-28 17:35] prdurrell commented on #164
OK...updated astroconda environment to include DS9 v8.0.1 using Anaconda Navigator.   That seems to have worked OK, but I still saw the same problem with 7.6 --XpaException: Unknown XPA Error : XPAGet returned 0!  when I ran  (in one cell).  Looks to be the same issue.

_viewer=imexam.connect()
viewer.load_fits('jdkb12010_drc.chip1.fits')
viewer.scale()_

I can still work with running things in in

[2019-03-28 17:37] sosey commented on #164
no problem. yah, the load timing issue should be regardless of version...sure, I'll look for new issues.. :)

[2019-03-28 17:54] prdurrell opened #165 "imexamine - FWHM values in radial plot"
Might be a problem with me being new to astropy-imexamine here, but when I use 'r' for the radial plots (which I use a lot, interactively), the fwhm values given do not seem to be what I expected!   I wanted to understand what these values represent
    For example, for stars on HST ACS images, I get the following:

![image](https://user-images.githubusercontent.com/48992231/55180499-1d316f00-5160

[2019-03-29 16:32] sosey commented on #165
interesting... the fit certainly looks like it should be closer to 2.1, the text is odd. Though the max pix flux looks correct for the point, the estimated amplitude is way above that. I looked at some WFC3 UVIS stars, and found something similar with just a couple stars in my field, though the plot looks correct, when the amp is a few factors above the max pix, the fwhm looks wrong. (BTW, it look

[2019-03-29 16:41] larrybradley commented on #165
@sosey The red profile doesn't look like a 1D Gaussian that peaks at `r=0` (I don't see a turnover).  Are you constraining the 1D Gaussian to be centered at `r=0`?  That would explain both the weird amplitude and FWHM values if you are only seeing a wing of 1D Gaussian centered at some `r < 0`.

[2019-03-29 17:23] sosey commented on #165
@prdurrell I updated the the gauss1D part of the model to constrain the mean value, you can test out the updates by installing from this branch: `https://github.com/sosey/imexam/tree/newdev`

First uninstall your current imexam, then install this new one:

If you do this, report back your results?
thanks!

[2019-03-29 17:33] sosey commented on #165
for got to add the updated plot for comparison....
![imexam_plot](https://user-images.githubusercontent.com/503615/55251495-22a5bc80-5227-11e9-9b0c-17830190d71a.png)

[2019-03-29 18:21] prdurrell commented on #165
Thanks so much for the update!   I am having trouble outputting to a separate window, rather than the inline in the jupyter notebook, so having trouble getting 's' to work for me.   I will eventually experiment in an ipython window, but using the notebooks for now to understand what is going on...

Anyway, I tried the new imexamine version on the same star/image as my first post, and it is certain

[2019-03-29 21:37] sosey commented on #165
hmmm..it could be slight differences in the fitting and model. I'm centering with a 2D gaussian, fixing the fit to a radius of zero, and using a combined 1D gauss + 1D polynomial model that is weighted for flux. Where the weights are just the log(flux). IRAF is using a different weighting scheme, from http://stsdas.stsci.edu/cgi-bin/gethelp.cgi?imexamine  :

If I go back and just switch the weight

[2019-03-29 21:58] prdurrell commented on #165
Thank you for looking into this!   I am not an expert on the different weighting schemes by any means (for example -- I am not sure how many different schemes one really needs!), as it sounds like that is the big difference.
  _**I greatly appreciate your help on this!**_   Things are working better...I just have to get used to doing things this way versus IRAF/PYRAF.

[2019-04-19 20:06] stscijgbot opened #166 "ginga/imexam ipython photometry issue for NIRCAM simulation"
Issue [JDA-30](https://jira.stsci.edu/browse/JDA-30) was created by Ben Sunnquist:

Data used: Mirage NIRCam imaging simulations of Candels/GOODS-S processed through level 3 of the JWST Pipeline

Data location: /grp/jwst/wit/da5_simulations/nircam/level3_i2d.fits

Methods used: attempted to perform aperture photometry by pressing 'a' once in interactive mode using imexam with ginga through ipython

[2019-05-08 04:37] bsipocz opened #167 "ds9 is not on path but aliased"
It would be nice if `connect()` would be less picky. I don't have ds9 on my path but as an alias, so it doesn't discover it:

[code]

Alas fixing this is probably an ugly hack, so feel free to close the issue as a won't fix.

[2019-05-08 14:34] bsipocz commented on #167
Thanks, specifying the path works just as well as putting it on the path. Arguably I didn't go past the first "Simple walkthrough" page, could have spotted the `path` kwarg in the api docs.

Though now I run into some expected xpa issues, so will try to go down the ginga route tonight instead.

[2019-05-08 14:39] sosey commented on #167
doh, I have a fix already for the alias path... what'w the XPA issue?

[2019-05-08 15:15] sosey commented on #167
I'm really interested in your XPA error, it could just be timing of the ds9 connection, if it's something else I'd like to try and fix it :)  Is it similar to either of these? https://github.com/spacetelescope/imexam/issues/164 and https://github.com/spacetelescope/imexam/issues/162 and https://github.com/spacetelescope/imexam/issues/137

[2019-05-08 15:48] bsipocz commented on #167
It has nothing to do with imexam, but ds9 own "thing". Disclaimer, I could never make xpa work on my mac:
[code]

[2019-05-09 01:43] bsipocz opened #169 "Provide way to fix fits file"
I'm not sure whether this is an imexam or more a ginga issue, possibly both. I'm opening it first here as imexam is the layer the user interacts with:

[code]

[2019-05-09 01:49] bsipocz opened #170 "make the ginga viewer work with HDUList objects"
As a workaround for #169, I opened the file and fixed it. But then run into the issue that HDULists doesn't have header:

[code]

The file itself has a single HDUWorking with just one image HDU:
``[<astropy.io.fits.hdu.image.PrimaryHDU object at 0x1330a4eb8>]`` so doing
[code]
works.

I'm not sure how practical it is, but naively I would think opening up all the image HDUs from a HDUList would be

[2019-05-09 02:31] sosey commented on #170
ginga wants to use it's own AstroImage() ... but wait, I think I see where I missed a chance to feed it the HDUList.....

[2019-05-09 02:53] sosey commented on #169
This looks like an issue with the user FITS file, I'm not too inclined to apply 'fix' for them under the covers, it's probably good they get this error and fix, then resave the file, so that it's valid FITS.  FWIW, imexam will also load any numpy array to either ginga or ds9, if you can open the fits file you can display the data array to the viewer with `viewer.view(numpy_array_name)`.

[2019-05-09 03:03] bsipocz commented on #169
I'm not proposing to "fix" it by default, and I could work around this as detailed in #170, but I would find it very useful to have a kwarg that would let me fix it on the fly when opening.
Otherwise I agree that it would be nice if all fits files coming down from telescopes would follow the standard, but I'm afraid a world like that would probably is utopia.

[2019-05-09 03:23] sosey commented on #169
okay, I'll add a parameter to the load_fits, but set it to not fix by default. Do you think `fix_fits` would work?

[2019-05-09 03:33] sosey opened #172 "When given an HDUList provide option to open all image extensions"
see #170

This could be a little tricky. The ds9 viewer already has a hook for opening up all fits MEF extensions with `load_mef_as_multi`, as well as one for cubes `load_mef_as_cube`. For the ginga HTML5 viewer, I think I'd need to run a separate server and multiple tabs or windows, one for each extension. I don't believe there's a way to split the single viewer. It might be easier in this case t

[2019-05-09 04:18] bsipocz commented on #169
what about `verify_fits` with `None`, and then the strings as options that can be passed to `verify()`?

[2019-05-09 19:10] bsipocz commented on #172
It's probably water under the bridge, but as a novice user, API wise I would have found it cleaner if `load_fits()` had kwargs for loading all extensions of a multi extension fits. I simply looked past `load_mef_as_cube` and `load_mef_as_multi` when looking for this functionality as in my mind fits files are almost always multi extension anyway :)

[2019-05-09 23:23] bsipocz opened #173 ""Address already in use" error at connection"
I'm playing with the example notebook `example_notebooks/imexam_ginga_example.ipynb`. Third cell (`a=imexam.connect(viewer='ginga')`) given the following error.

I may have other sessions open from separate ipython terminals, but even if that is the case, I would have expect  a new session being opened.

[code]

[2019-05-13 10:16] iskren-y-g opened #174 "Cycle through fits images with load_fits without erasing the ds9 frame?"
Hi,

this is a minor thing, but I think that load_fits would benefit from having a parameter to disable/enable the refresh of the ds9 frame? This will be useful for when I want to cycle through a list of fits images and display them one after each other. Now after load_fits I need to invoke zoomtofit() and scale(). I can achieve this with view(img), however, I wanted to skip one step of using fits

[2019-05-13 14:31] sosey commented on #172
Good feedback. I think I original had those names as they correspond to the DS9 functions whch are named similar, and require sending different calls. It's a function not supported by ginga, but perhaps changing the names and considering the API again before the 1.0 is a good idea.

[2019-05-13 14:51] bsipocz commented on #172
Oh, indeed, yet it was the abbreviation that tricked me (while it's trivial now, after the fact).
But before you consider any name/API change it would be probably a good exercise to check on this question with more users. (e.g. task them at a workshop to open up a multi extension fits/HDUList given the current API)

[2019-05-13 15:05] sosey commented on #172
certainly. My plan is to get the python 3 version out first. Then do a serious look at the package and new possible viewers and see if the API should change in away. This will of course rely on some input from users :)

[2019-05-21 15:01] iskren-y-g commented on #165
Hi,

I think that the problem might be in the fitting function, i.e. that it is the wrong one, or it has something to do with the range over which it is being evaluated? I'm not sure. If you could include a Moffat function as an optional function, that might be helpful.

Below is a screenshot between IRAF imexam radial plot and fit with python imexam. The imexam FWHM is ~1pixel larger compared to

[2019-05-21 15:07] sosey commented on #165
hey @iskren-y-g I believe there is a moffat function available. The centering function is indeed using astropy.models.Gaussian2D before creating and fitting the datapoints in the radial profile.  Do you think that a moffat estimate for the fwhm should be reported but still fit the gaussian to the profile?

[2019-05-21 15:37] iskren-y-g commented on #165
hi @sosey, I would say that the line in the radial plot, along with all annotated values, must be from the exact same function which was fitted and plotted. There is astropy.models.Moffat1D and Moffat2D, so you can use Moffat1D to fit the 1D profile and report its values. I didn't explore, but I guess that you can also use the astropy.models.Gaussian1D for your 1D plotting and fitting instead of d

[2019-05-21 15:42] sosey commented on #165
got it... you might give using the moffat a go, it's available already for imexam, you can set `func` in the parameters for radial profiles to `Moffat1D`, however, I think I only have centering implemented with Gaussian2D, lemme see about that...

[2019-05-21 15:43] sosey commented on #165
more specifically... imexam aleady uses and has access to the astropy models, I just have gaussian as the default...

[2019-05-21 20:37] iskren-y-g commented on #165
Great! Then, probably I've missed seeing it in the docs. As for the centering, Moffat2D will do equally well if you implement it. The astropy.fitting.LevMarLSQFitter takes care of the minimization. That's what I used in my example above, following theirs: http://docs.astropy.org/en/stable/modeling/#simple-2-d-model-fitting

[2019-05-30 14:07] iskren-y-g commented on #165
Hm, it looks like it completely fails to center if I set the func to Moffat1D, or am I not doing something right?
ds9.set_plot_pars('r', 'func', 'Moffat1D')

[imexam_plot.pdf](https://github.com/spacetelescope/imexam/files/3237325/imexam_plot.pdf)

[2019-06-01 18:02] mrepasky3 opened #175 "Plotting charts in DS9"
I've been trying to use imexam to plot radial profiles in DS9. I apologize, I'm sort of new to Linux/Ubuntu but I will try to be as detailed as possible.

I open DS9 using the viewer=imexam.connect() command in ipython in the terminal. When I load an image in DS9, I then run viewer.imexam() and the correct thing comes up in the terminal, listing all the buttons and their functionalities.

However,

[2019-06-03 14:04] sosey commented on #175
It's probably the matplotlib backend that is running. Let me know what version of matplotlib you are running, and which backend it is using? This is usu set in the matplotlibrc file, or you can see what is loaded by default by issuing the following command ` matplotlib.get_backend()`

[2019-06-03 14:15] mrepasky3 commented on #175
Matplotlib version 3.0.3 backend version Qt5agg

[2019-06-22 15:38] mrepasky3 commented on #175
Update: I've since tried to change the backend version for matplotlib.  My computer has three files called matplotlibrc, but all three of them already had the backend set to 'Qt4Agg.' When I import matplotlib on ipython, however, I run matplotlib.get_backend() and it returns 'Qt5Agg.' I don't know why it would be doing this, but when this happens I just run matplotlib.use('Qt4Agg'). Sometimes this

[2019-06-22 23:13] MADECICCO opened #178 "Installation bugs?"
Hi everyone!

I installed imexam using pip install method: " sudo - H pip3 install imexam", it was ok.

But certain classe/fucntion did not load as :

-list_active_ds9()
-ds9('...')
-display_help()

error: " module 'imexam' has no attribute..... "

AND worst:
when calling -> "window=imexam.connect('ds9')'" ( or many others  analogs steps, as explained in the imexam webpage docs, no single one work

[2019-06-22 23:14] MADECICCO opened #179 "Imexam modules bug"
Hi everyone!

I installed imexam using pip install method: " sudo - H pip3 install imexam", it was ok.

But certain classe/fucntion did not load as :

-list_active_ds9()
-ds9('...')
-display_help()

error: " module 'imexam' has no attribute..... "

AND worst:
when calling -> "window=imexam.connect('ds9')'" ( or many others  analogs steps, as explained in the imexam webpage docs, no single one work

[2019-06-23 13:29] #178 closed

[2019-06-24 11:00] MADECICCO commented on #179
EDIT1 :

After reinstalling GINGA, using conda install , imexam.connect recognized it, finally

But DS9 keeps same issue: " ...n("Unsupported viewer, check your installed "
85 "packages\n")..."

[2019-06-24 11:41] sosey commented on #175
oof. There may be different packages picking it up from different places in your system. There may be conflicting installs in your conda, one in your base and one in your active environement. You might check that, I'll try and get back to this soon.

[2019-06-26 16:29] MADECICCO commented on #179
EDIT 2:

inside   ../imexam/connect.py there are the following lines:

" try:
    import xpa
    have_xpa = True
    from .ds9_viewer import ds9
except ImportError:
    have_xpa = False

"

So I tested import xpa and an error of no 'module xpa' occurred, so I believe the variable "have_xpa" is set to False, and the package is not capable to recognize 'ds9' viewer, as the variable :'_possible_viewe

[2019-06-26 16:33] sosey commented on #179
Hi there.. lets try a quick check. You have ds9 installed either in your machine, or as part of the virtual environment that you are using. You should be able to get the path to the executable, try launching DS9 and see if it come up. If it's on your path, `which ds9` should return the correct location.

If that works, you can give connect the path to your ds9 executable when you instantiate:
`vie

[2019-06-28 20:52] MADECICCO commented on #179
Hi ,
the path to ds9 is : '/usr/local/bin/ds9'

it takes long time to load, but it works.

I tried also loading inside jupyter notebbok and it is loaded all right, no problem.

But the bug keeps happening:

viewer=imexam.connect(path='/usr/local/bin/ds9',)

'

usr/local/lib/python3.6/dist-packages/imexam-0.8.2.dev375-py3.6-linux-x86_64.egg/imexam/connect.py:84: UserWarning: **Unsupported viewer, c

[2019-06-28 21:15] MADECICCO commented on #179
EDIT 3:

BTW, even functions/classes described above don't load.

[2019-07-03 18:04] sosey commented on #179
Hi there - I'm having problems recreating your issue. I've included a screen shot of some of the functions you mention, there are 3 different ds9 windows in it that were opened in different ways, they have different names and different things displayed in them according to the commands on the terminal that's also in the image.

It looks like you might be running on linux? Will you send me your os

[2019-07-03 18:57] MADECICCO commented on #179
uname -a:

Linux  4.15.0-52-generic #56-Ubuntu SMP Tue Jun 4 22:49:08 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

In [1]: import xpa

In [2]: xpa._file_
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-2-72bc060c7076> in <module>
----> 1 xpa._file_

AttributeError: module 'xpa' has no

[2019-07-03 21:49] MADECICCO commented on #179
Edit:

imexam._path_   :

['/usr/local/lib/python3.6/dist-packages/imexam-0.8.2.dev375-py3.6-linux-x86_64.egg/imexam'

imexam._version_:

0.8.2dev375'

Seems your version is former...

[2019-07-09 15:13] sosey commented on #179
The difference in our versions shouldn't be an issue, for completeness I pulled the version you installed for testing.  I'm unable to replicate your issue, as long as the location to `ds9` is on my path, or I give `imexam` the startup location for the executable, then it's able to start `ds9` and make the connection. I've tried this inside several environments, and using the `pip` installed releas

[2019-07-09 15:20] sosey opened #180 "move the xpa installed wrapper to the imexam local install dir"
I thought I had already done this

[2019-07-10 14:17] MADECICCO commented on #179
Hi !

In fact, I did not create a 'conda env'.

So, for just testing, I uninstalled pyds9, and now no more DS9 bug.
The error now is:
"RuntimeError: The ds9 process is externally killed."

But I did not reinstall yet a new pyds9.

So my next step  will be create an "imexam env", and try again.

Also, apparently the modules bug  are fixed:

**imexam.list_active_ds9()**

_DS9 imexam1562767514.592104

[2019-07-10 14:23] sosey commented on #179
excellent, I'm glad we're making progress...let me know how it continues to go :)

[2019-07-10 14:37] MADECICCO commented on #179
HI!! Uninstalled imexa, installed again, and voi la...:)
![Screenshot from 2019-07-10 11-36-34](https://user-images.githubusercontent.com/18147509/60978148-18f02280-a307-11e9-9fc1-6c686ddc0be3.png)

[2019-07-10 14:39] MADECICCO commented on #179
Now, I ll redo all steps for a conda env   "name"

P.S.: I did not reinstall pyds9, is it really necessary?

[2019-07-10 14:40] sosey commented on #179
If you're not using pyds9 then it's not necessary to install. If you do decide to install, make sure its the most recent version that doesn't stick the xpa.py file directly in the site-packages/ directory.

just for completeness on my end, when you startup a python session, and `import xpa` what does `xpa.__file__` return for you now?

[2019-07-10 14:42] MADECICCO commented on #179
I did not : 'import xpa...

[2019-07-10 14:43] MADECICCO commented on #179
I can reload my jup notebook session again importing xpa, if you want

[2019-07-10 14:43] sosey commented on #179
right, but give it a go separately, in a terminal with a python session for example, and let me know what file path is returned?

[2019-07-10 14:45] MADECICCO commented on #179
Done!! decicco@patolino:~$ ipython
Python 3.6.7 (default, Oct 22 2018, 11:32:17)
Type 'copyright', 'credits' or 'license' for more information
IPython 7.2.0 -- An enhanced Interactive Python. Type '?' for help.

In [1]: import xpa

In [2]: xpa.__file__
Out[2]: '/usr/local/lib/python3.6/dist-packages/xpa.cpython-36m-x86_64-linux-gnu.so'

In [3]:

[2019-07-10 14:47] sosey commented on #179
interesting. thanks.

shall we close this help call for now? If you have any more problems as you start playing with the package definitely report back and we'll figure them out. :)

cheers

[2019-07-10 15:03] #179 closed

[2019-07-12 18:37] #167 closed

[2019-07-12 20:32] sosey opened #182 "update the jupyter notebook examples to be current"
The repo has moved to py3 and had functionality updates since the notebooks were last updated. Merge the changes in from #147 and make any additional changes that are necessary

[2019-07-12 20:32] #180 closed

[2019-07-12 20:36] sosey commented on #170
fixed in #171

[2019-07-12 20:36] #170 closed

[2019-07-12 20:39] #164 closed

[2019-07-12 20:39] #162 closed

[2019-07-12 20:41] #150 closed

[2019-07-12 20:43] sosey commented on #142
@eteq have you tried this lately?

[2019-07-12 20:49] sosey opened #183 "update RTD specs for py3"
https://readthedocs.org/projects/imexam/builds/9364755/

[2019-07-17 01:40] #183 closed

[2019-07-17 19:00] #139 closed

[2019-08-08 16:37] b1quint opened #186 "XpaException raised because it expects an integer and finds a float"
Dear all,

I am running `imexam` on a MacOS 10.14.5 using the following setup:
- `conda 4.7.10`
- `python 3.6.8`
- `ds9 8.0.1`
- `imexam 0.8.1`

I run the following code and everything seems fine:
[code]
When pressing a key on DS9 to start analysing the image (e.g. `a` or `r`), I get an error. The traceback is attached.
[imexam_traceback.txt](https://github.com/spacetelescope/imexam/files/3482751/

[2019-08-08 16:39] b1quint commented on #186
Update: After fiddling around with different DS9 versions, I cannot reproduce the error on my machine anymore. That makes me wonder if the real source of the issue is the version of XPA.

[2019-08-17 00:01] mdhoney opened #187 "connecting to non-HTML5 ginga"
The [documentation](https://imexam.readthedocs.io/en/latest/imexam/description.html#usage) gives a good example of displaying images in ginga, but only using the HTML5 canvas in a web browser.  Is there a way I can send my image to a standalone ginga instance, similar to how this works for a DS9 window (using `imexam.list_active_ds9` etc.)?
Thanks.

[2019-08-18 15:56] sosey commented on #187
There is a separate imexam plugin for ginga that gives you access to imexam commands/plots  in the ginga reference viewer. I haven't tried it in a while, but here are some instructions for using ginga plugins: https://ginga.readthedocs.io/en/latest/manual/customizing.html?highlight=imexam

I think however that you are asking whether from a python terminal you can start up imexam, and have it displ

[2019-08-19 14:39] sosey commented on #186
Apologies - I've been swamped and will try and get to this soon

[2019-08-19 14:49] b1quint commented on #186
Do not worry. Let me know if you need any help on testing anything or trying to get more information for debugging.

[2019-08-19 23:14] ejeschke commented on #187
@sosey, I dusted off the `imexam` plugin and gave it a whirl with the latest `imexam` from master. Works fine!  Screenshot:

![ginga-imexam-plugin](https://user-images.githubusercontent.com/1305473/63304829-2db5c380-c280-11e9-975a-d700a21301f8.png)

I committed a small fix to the plugin.  In case you are interested, @mdhoney, you can find it [here](https://github.com/ejeschke/ginga/blob/master/exp

[2019-08-19 23:18] sosey commented on #187
nice! I hadn't played with RemoteClient. Cool beans @ejeschke!

[2019-08-20 00:28] sosey opened #188 "Add viewer option which is a convenience to load image into a ginga viewer"
See the snippet from erik in this issue: https://github.com/spacetelescope/imexam/issues/187#issuecomment-522788982

[2019-08-20 02:00] mdhoney commented on #187
Thank you @sosey for helping with the plugin... and @ejeschke for that trick with the RC! :smile:  I managed to get it working from within an astroconda environment.

[2019-08-20 02:00] #187 closed

[2019-08-23 03:41] mdhoney commented on #137
Was this ever resolved, @KathleenLabrie and @sosey?  I am having the same problem with a fresh install of astroconda on Ubuntu 18.04.  I get the dreaded `No active sessions registered` every time I try to `imexam.list_active_ds9()`. :frowning:  Under DS9's XPA information, it says `XPA_METHOD: 7f000101:34005` which seems to indicate it is using the proper inet sockets, correct?
I swear this used t

[2019-08-24 01:36] mdhoney commented on #137
I got this working now, the problem was apparently being caused by an incompatible DS9 version - anything > 7.5 will not work with Ubuntu 18.04 and astroconda!

[2019-08-24 07:51] robertoabraham opened #189 "Some plots appear to be broken on Windows"
Hi - I'm experimenting with imexam on my Windows 10 laptop. I'm running in native Win32 mode (i.e. I'm not using the Windows Subsystem for Linux). Most things appear to work well (I'm using a Jupyter notebook and ginga's html5 widget to display things). However, a couple of plot types don't appear to be working. For example, radial plots and curve-of-growth plots. Others appear to working well (su

[2019-08-25 21:23] sosey commented on #137
good to hear. Are you using a conda installed binary or installing the binary yourself? Can I ask what the highest version you tried was? I had to move to 8.1b1 for the quartz app on mac myself.

[2019-08-27 13:13] sosey opened #190 "update package to use fstrings"
Make sure all the string use is consistent in the pacakge and update to fstrings

[2019-09-05 21:52] robertoabraham commented on #189
Hi - just a gentle nudge regarding this issue. Any help with getting imexam to work on Windows would be greatly appreciated.

[2019-09-05 21:55] mdhoney commented on #137
I just compiled v8.1b2 on Ubuntu 18.04 (a few extra libraries needed installing) and am pleased to report that it registers with imexam!

[2019-09-06 12:59] sosey commented on #189
sorry @robertoabraham I've been a little swamped. I think I have a windows 10 laptop at home I can test with but will need some time. My basic tests on win64 through appveyor seem to be working, but I'll try and load master to my home laptop and run  through all the plots live with ginga, it looks like the issue might be with the ginga interface. What version of ginga are you running?

[2019-09-06 16:09] robertoabraham commented on #189
Hi Megan, I'm running ginga 2.7.2. And thanks so much for your help with this!

[2019-09-18 01:28] kllarson commented on #165
Hi. I am having this same issue with a fresh install of imexamine. I also get large FWHM values with the radial profile. Is there a fix for this yet?

[2019-10-28 16:28] sosey commented on #136
related: make sure spaces are stripped from the filename itself as well

[2019-10-29 16:38] pjpessi opened #191 "Need help with some functionalities"
Hi, I am trying to switch from IRAF to Python so I tried this package but I think I might be missing something.
I need to get the wcs coordinates and the fwhm of some stars in an image I have.
To do this in IRAF I run imexa -> a , and that does the trick.
I can not figure out how to obtain that sort of data with this package. Could someone help me out?
Cheers.

[2019-10-30 13:22] pjpessi commented on #191
Update: this issue occurs when using python3, numpy version 1.17.2 but not when using python2.7 numpy version 1.16.4.
I tried downgrading the numpy version in python3 but didn't solve the problem

[2019-10-30 13:23] sosey commented on #191
try installing from the current mast, with python3, and see if you get the same issue?

[2019-10-30 15:06] sosey commented on #191
definitely - the master branch is meant to be running in python 3 only, give that a go!

[2019-10-31 19:45] telepibe opened #192 "util.py no longer imports xpa"
Hi.
It seems that [this](https://github.com/spacetelescope/imexam/commit/4258ba23cffa030455e919b5b92b52fd1b985012#diff-5a6cdbd69de807a4d58132d8db6c0112) commit deletes the xpa module import so `list_active_ds9` fails.

[2019-11-04 13:35] pjpessi commented on #191
@sosey I still get the following error when runing imexam+a in python 3:

[code]
It seems like this option has a problem calling a float. I don't have issues when running other options (letters).

**In addition I wanted to ask you if there is any way to get the FWHM automatically (without having to click on the stars) once I know the coordinates of my stars.**

[2019-11-04 16:43] pjpessi commented on #191
Ok, my guess now is that I am too dumb to understand this package.
@sosey if you ever have time maybe I can tell you what I wanna do and you can walk me through. If not thanks anyway for writing the code.
Cheers

[2019-11-04 17:00] sosey commented on #191
@pjpessi you are not too dumb! If you can't find the information it's because I probably need to organize it better. Don't be discouraged...you managed to ping me during a few weeks where I am working overtime and traveling.

One place to look for information on how to run the package without any GUI interaction is here: https://imexam.readthedocs.io/en/latest/imexam/examples.html#return-informati

[2019-11-04 17:19] pjpessi commented on #191
@sosey Thanks for the reply, I've read the docs in the link you sent.
I found Imexamine. I have a coordinates array and I want the FWHM of the stars at those coordinates. I found that plots.aper_phot() return that. Although I am not able to return anything. Only a blank (no star or anything just the green and red circles) plot when using a toy array.

If you could send me an example it would be gr

[2019-11-05 20:35] sosey commented on #191
Here's an example that doesn't use a display connection:

* start with a reasonable estimate for the center of an object, mine is at 476, 463
* you can get the refined center using a 2D gaussian fit

Start by creating a control object

grab the data you want and attach it to the control object i:

get the results and save them to variables

Now we'd like to calculate the gaussian FWHM for this sta

[2019-11-23 20:09] mschwamb opened #193 "TypeError: 'float' object is not callable"
For
a	Aperture sum, with radius region_size
g	Return curve of growth plot
r	Return the radial profile plot

I am getting errors when I do the three above utilities.  The other utilities in imexam seem to work just fine. I'm using python 3 and a jupyter notebook. I've displayed an image reduced with the Gemin DRAGONS pacakge.

import imexam

viewer=imexam.connect()  # startup a new DS9 window

view

[2019-11-25 14:25] pjpessi commented on #191
@sosey thanks a lot for the example, it worked ok. Could you tell me where to find the documentation for math_helper.gfwhm?, I can not find it. Or let me know why is there a fwhmx and fwhmy?.
Thanks again.

[2019-11-25 14:43] sosey commented on #191
In general when you are in a notebook or ipython session you can use syntax like this to get the document string help for a function: `imexam.math_helper.gfwhm? `.  I don't think I have more extensive documentation about the gaussian fwhm function at this point. The function is returning the fwhm for each dimension, x and y, as it's not expecting symmetry.

[2019-11-25 14:45] pjpessi commented on #191
@sosey Ok, great. Thank you very much.

[2019-11-25 14:45] #191 closed

[2019-12-03 09:27] hjmcc commented on #193
I have the same bug, python=3.6 or 3.7. I am also using anaconda on mac.  Shame, this seemed like a good replacement for that IRAF tool..

`~/anaconda3/envs/py36-astropy/lib/python3.6/site-packages/imexam/imexamine.py in radial_profile(self, x, y, data, form, genplot, fig)
   1058             # The bkg sum with the circular aperture is then
   1059             # the mean local background times the

[2019-12-03 10:11] hjmcc commented on #193
Also trying with the development version produces the same errors: (pip install git+https://github.com/spacetelescope/imexam.git)

[2019-12-03 10:49] hjmcc commented on #193
It seems there was a change to the photutils.aperture API in version 0.7 (.area() was switched to an attribute and not a method). Switching back to version 0.6 doesn't fix the problem. Changing the code to .area from .area() doesn't work for me unfortunately (another bug pops up).

[2019-12-03 11:41] hjmcc opened #194 "photutils.aperture 0.7 API incompatible with imexam"
This change in photutils.aperture breaks some functionality in imexam plotting.
https://github.com/astropy/photutils/pull/854

[2019-12-03 15:13] sosey commented on #193
sorry, I've been swamped with other work lately. I'm sure this can be fixed, I'll try and take a look soon, but thank you for reporting the issues.

[2019-12-03 17:45] hjmcc commented on #193
No worries, thanks for making this tool available, it is very helpful !

For info, in fact switching to .area from .area() fixes two of the three aperture sum tasks,  'a' and 'g', the error now given with 'r' is

[code]

[2019-12-03 21:27] sosey commented on #194
try the code from this PR: https://github.com/spacetelescope/imexam/pull/195 and let me know if it's working for you. I tried it with 0.6.dev28+g5fc8f449   and 0.7.1

[2019-12-03 21:27] sosey commented on #193
try the code from this PR: https://github.com/spacetelescope/imexam/pull/195 and let me know if it's working for you. I tried it with 0.6.dev28+g5fc8f449   and 0.7.1

[2019-12-04 15:21] sosey commented on #192
doh. 🤦‍♀

[2019-12-04 15:25] sosey commented on #189
so I think this is due to a change in the API for photutils, I've fixed it on the master branch and will make a new release. If you're still around, give it a test. Sorry for the long response time!

[2019-12-04 15:35] sosey commented on #186
@b1quint have you tried this recently? I'm not seeing an issue with the following:
* ds9  8.0.1
* python 3.7.2
* conda 4.7.12

[2019-12-04 16:30] sosey commented on #173
I think this is a rolling bug, I can't reproduce on my end right now. I do have logic in the server startup that tries to pick an open port, it could probably use improving. @bsipocz do you get this issue every time you startup?

[2019-12-04 17:48] robertoabraham commented on #189
Thanks Megan, I'll give it a whirl in the next few days. Thanks.
Bob

[2019-12-04 18:22] #160 closed

[2019-12-05 02:08] b1quint commented on #186
Not yet! I will give a try and report!

[2020-01-02 20:50] mschwamb commented on #193
I updated with pip install --upgrade imexam and  tried again and still having the same issue.

[2020-01-31 13:31] pjpessi commented on #193
Hi, I get this same error when in python 3.6.10 I run

and press a.
It says you are 'calling' a float, so maybe there are () instead of [ ] somewhere?
---------------------------------------------------------------------------

[2020-01-31 13:44] pjpessi commented on #193
Same issue when running
`plots.curve_of_growth(j[0],j[1],data,genplot=False)`

[2020-02-18 10:36] patkel commented on #193
Hi, this problem can be fixed by removing the parentheses after area.
i.e.,  area() -> area

[2020-02-18 14:13] sosey commented on #193
This code was fixed in #195 and is on the master branch, but I haven't had a chance to make a formal release, so there isn't a new pip release.  I'll try and get to a release soon, but until then you can install straight from the repo:

`pip uninstall imexam`
`pip install git+https://github.com/spacetelescope/imexam.git`

[2020-02-21 18:18] pjpessi commented on #193
Installing imexam with pip somehow breaks my xpa installation.
I wrote the error below.
It would be nice to have this version available to install with conda.
I guess I will wait until then.

[2020-03-03 20:18] sosey opened #196 "update docs for aper_phot routine"
The documentation needs to be updated to show a clear example of using the imexam library todo aperture photometry on a source list for a single image ....without graphical interaction.

[2020-03-06 17:59] patkel opened #197 "Issue with graphical display on Ubuntu and Mint"
I am teaching a class that is using the imexam package. The graphical window appears black in most cases if you run a routine such as 'a' or 'r'
A workaround appears to be hitting 's' and then e.g., 'a'
or 'r' multiple times.
Is there a way to fix this bug?  It seems to be an issue related to pylab or matplotlib, perhaps?

[2020-03-06 18:06] sosey commented on #197
it's usually an issue with the matplotlib backend in use. Can you send me the output of these commands from a python terminal:

If we can't fix it with your backend, and it's a bug, I'm packaging a new release this weekend and can try and throw in a fix for this.

[2020-03-06 18:13] patkel commented on #197
Hi,  I’m forwarding to Daniel who is one of the students with the issue.
Thanks so much for the help!  Cheers Pat

On Friday, March 6, 2020, Megan Sosey <notifications@github.com> wrote:

[2020-03-06 18:36] patkel commented on #197
Hey all,

This is what my terminal responded with.

[image: Screenshot from 2020-03-06 10-32-54.png]

On Fri, Mar 6, 2020 at 10:13 AM Patrick Kelly <patrick.l.kelly@gmail.com>
wrote:

[2020-03-06 21:43] sosey commented on #197
hmm...I'm not sure the attached image was uploaded?

[2020-03-06 21:46] patkel commented on #197
I'm resending it as an attachment here...

On Fri, Mar 6, 2020 at 3:43 PM Megan Sosey <notifications@github.com> wrote:

[2020-03-06 21:49] sosey commented on #197
I think it might be getting clipped. You should be able to drag the image into the comment area on github and it will upload, will try that?

[2020-03-06 22:43] patkel commented on #197
![Screenshot from 2020-03-06 10-32-54](https://user-images.githubusercontent.com/5139900/76128296-8739d180-5fc9-11ea-843a-5afa19a62caf.png)

[2020-03-06 23:00] sosey commented on #197
one more - sorry, which version of matplotlib are you running?

[2020-03-06 23:56] patkel commented on #197
Apparently 3.1.3

On Friday, March 6, 2020, Megan Sosey <notifications@github.com> wrote:

[2020-04-08 14:54] olebole opened #203 "Optionally build against an installed XPA"
On Debian, we have to patch imexam in order to get it built against the XPA version (library and executables) provided by the system. This is necessary to get it conform to our policy.

Maintaining this patch is however not trivial. It would be better if imexam could provide a flag to `setup.py` or `setup.cfg` that uses the system XPA libs for build instead of the convenience copies.

[2020-04-08 14:57] olebole opened #204 "Imexam removes installed binaries during cleanup"
Imexam tries to remove the system installed xpa binaries (xpaaccess and such) and libraries during `setup.py clean` (and fails if they are protected from removal). This is quite dangerous, since it may leave people with a unusable system if they don't install the new package: https://github.com/spacetelescope/imexam/blob/ebea0bb0393f1f71b244ccc30742bea6148c6eb1/setup.py#L208-L221

These binaries a

[2020-04-09 19:57] bkornpob opened #205 "Typo from aimexam()"
I used imexam on jupyter notebook with ginga. Simply doing aperture photometry, its output printed in the notebook has typo. Here is from my screen:

read: a at 271.0, 285.0
xc=271.0797	yc=286.0884
x              y              radius         flux           mag(zpt=2.5e+01)              sky/pix        fwhm(x,y)
271.00         285.00         5              4.1e+01        2.1e+01        0.863

[2020-04-09 20:05] sosey commented on #205
thanks - can you point out the type specifically for me?

[2020-04-09 20:40] bkornpob commented on #205
--------------- from output screen ------------------
x y radius flux mag(zpt=2.5e+01) sky/pix fwhm(x,y)
_271.00 285.00_ 5 4.1e+01 2.1e+01 0.863 0.56,0.64
271.0796761204972 286.0884370840574 24.0
-----------------------------------------------------
--------------- should it be? ------------------------
x y radius flux mag(zpt=2.5e+01) sky/pix fwhm(x,y)
_271.079 286.088_ 5 4.1e+01 2.1e+01 0.863 0.

[2020-04-09 20:42] bkornpob opened #206 "mark_region_from_array does not have implementation."
This is from mark_region_from_array (in ginga_viewer.py)

[2020-04-09 22:14] bkornpob opened #207 "aimexam does not respond to changing some parameters"
I wanted to set parameters in aimexam. I tried subsky, color_min, color_max, and cmap keywords. Only changing cmap was working well, but the other three keywords did not make any change to the plot. I attached a pdf from my notebook file. (Sorry that the pdf format looks bad).

There are three plots in the file: 3D plot, default aperture plot, and customized aperture plot. As we can see that camp

[2020-04-09 22:21] sosey commented on #207
Will you include the version of imexam that you are using?

[2020-04-09 22:24] sosey commented on #206
`mark_region_from_array` is only currently implemented for the ds9 viewer

[2020-04-09 22:24] sosey commented on #205
will you add the version of imexam that you are using?

[2020-04-09 22:25] sosey commented on #204
doh, gah. sorry, this is an oversight on my end....I had moved the binaries elsewhere. let me fix...

[2020-04-09 22:27] sosey commented on #203
lemme see what I can do...

[2020-04-09 22:32] sosey commented on #197
sorry for the long delay, hope all is well where you are during these times..

I wasn't able to reproduce your issue locally. But I did release a new version of imexam (0.9.1) that has quite a few fixes, it's worth updating and giving it another try.

[2020-04-09 22:33] bkornpob commented on #207
0.9.1

[2020-04-09 22:35] bkornpob commented on #205
0.9.1

[2020-04-12 16:03] patkel commented on #197
thanks!

Pat

On Thu, Apr 9, 2020 at 5:32 PM Megan Sosey <notifications@github.com> wrote:

[2020-04-15 01:14] patkel opened #208 "not able to zoom after hitting "l""
Hi, I wasn't able to "zoom" in on parts of the graph of the counts along a line (or column). The graphical window just showed a spinning shape and wasn't reponsive.  Thanks for all of the work on imexam! Pat

[2020-05-08 20:05] RoeePartoush commented on #175
Hi, just started trying to use imexam today, and I'm getting the same problem too: when I run some function (I tried "a" - Aperture sum, with radius region_size), I'm getting the expected print:
xc=2068.2089	yc=1205.4838
x              y              radius         flux           mag(zpt=2.5e+01)              sky/pix        fwhm(x,y)
2069.00        1205.00        5              9.6e+05        1e+0

[2020-06-09 14:31] afkowalski opened #210 "trouble with 'rimexam'"
Hi,
First, really helpful program!  I'm glad someone has taken the lead on this.

I am having trouble with the 'r' key in imexam.  I've tried two different datasets, it seems to be a datatype conflict of some sort.   Thanks - Adam K.

======
xc=324.9759	yc=122.6763
Background per pixel: 1392.6505760531472
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/anaconda3/e

[2020-06-09 14:50] afkowalski commented on #210
Here is the fix:

viewer.rimexam()    # gives a list of parameters
viewer.set_plot_pars('r', 'background', 0)
viewer.imexam()

[2020-06-24 14:01] sosey opened #211 "display help isn't bringing up the right docs"
fix in utils

[2020-06-24 14:20] sosey opened #212 "Add example of interactive PSF photometry star selection"
Create another notebook that walks through psf photometry and candidate star selection using imexam and photutils

[2020-08-11 01:02] karlglazebrook commented on #210
I tried imexam for the first time (searching for a replacement as this is the one thing I still use iraf for).

Had the exact same problem with the very first images I tried, using the 'r' key. The fix above worked though it is not clear to me exactly what it is doing.

The offending line seems to be

`flux -= sky_per_pix
`
This seems relevant: https://techoverflow.net/2019/05/22/how-to-fix-numpy-

[2020-08-11 01:58] karlglazebrook commented on #165
Has this been fixed? It is a rather important.

I was able to reproduce this behaviour.

<img width="592" alt="image" src="https://user-images.githubusercontent.com/15331994/89848246-63f2fe00-dbc9-11ea-93dc-7f134a428cf5.png">

See how fwhm=8.6 is totally unreasonable.

I think this arises because I had to turn off 'background subtraction' in order for it not to crash (see issue #210 ) and it is ev

[2020-08-27 19:07] secretgardeninmyword opened #213 "Couldn't even use imexam.connect"
I have just install the imexam and xps. However, just running "imexam.connect()" went into trouble. Bellow is the traceback :
/usr/lib64/python3.6/site-packages/imexam/connect.py:84: UserWarning: **Unsupported viewer, check your installed packages**

  warnings.warn("**Unsupported viewer, check your installed "
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/l

[2020-08-28 13:58] sosey commented on #213
It looks like you are not using a virtual env, is that correct?  Can you send me the following information?

What method did you use to install imexam
The system you are on: `uname -a`
The version of imexam that you have installed: `imexam.__version__`
The version of ds9 that you are using

thanks!

[2020-08-28 17:38] jchavez1992 opened #214 "Matplotlibe deprecation warning"
I am fairly new to using python/imexam.  I was a little surprised on the first time I imported it, I got this deprecation warning from Matplotlib: [path]/miniconda3/envs/dragons/lib/python3.6/site-packages/ginga/cmap.py:13317: MatplotlibDeprecationWarning: The global colormaps dictionary is no longer considered public API

Maybe ginga is not within the scope of imexam, but I thought it was worth r

[2020-08-28 17:51] sosey commented on #214
Ah, yes, ginga development isn't in scope with imexam, but I'll double check the version we are using and what @ejeschke and @pllim are working on for the deprecation...

Are you using imexam with ginga or ds9?

[2020-08-28 18:05] pllim commented on #214
Re: Ginga -- Are you using a very old version of Ginga? I don't see that warning on `master`. And also we just dropped support for Python 3 on `master`. If you can give a code snippet to reproduce on Ginga, please open issue at https://github.com/ejeschke/ginga/issues

[2020-08-28 23:09] sosey commented on #210
@karlglazebrook  - I've been on vacation all month.  Let me see if I have a better example to point you to, are  you still having issue?

[2020-08-28 23:40] karlglazebrook commented on #210
No worries!

I haven’t tried it recently, happy to download and try again

Karl

[2020-08-29 01:22] ejeschke commented on #214
I can see where this is coming from.  Looks like a few other projects are bitten by the [same deprecation](https://github.com/matplotlib/matplotlib/blob/master/lib/matplotlib/cm.py#L75-L118).

I filed [an issue](https://github.com/ejeschke/ginga/issues/890) in Ginga github.

[2020-08-31 12:53] sosey commented on #210
cool, which version of imexam do you have installed? `conda list imexam` or import and then return `imexam.__version__`

[2020-09-01 17:15] secretgardeninmyword commented on #213
You are right, I am not using a virtual env.
I use "pip install imexam" to install imexam.
The system information is:
Linux linux-tu83 5.3.18-lp152.20.7-default #1 SMP Mon Jun 29 14:58:38 UTC 2020 (2a0430f) x86_64 x86_64 x86_64 GNU/Linux
The version of imexam is 0.9.1.
The version of DS9 is 8.1

[2020-09-01 21:59] #214 closed

[2020-09-08 14:59] b1quint commented on #186
@sosey I am sorry for the delay! I tried this and it is now working fine! Thank you very much!

[2020-09-08 15:01] sosey commented on #186
excellent! I've been crazy busy myself, thanks for reporting back :)

[2020-09-08 15:01] #186 closed

[2020-09-08 15:19] jchavez1992 opened #215 "XPA Error "No response from server during handshake""
I am running imexam on a MacOS 10.14.6 using the following setup:

    conda 4.8.4
    python 3.6.10
    ds9 8.1
    imexam 0.8.1

I run the following lines in a Python console of PyCharm, and it works great:

    viewer = imexam.connect()
    viewer.view(stamp)     # 'stamp' is a numpy array extracted from a fits image
    viewer.scale()
    viewer.imexam()
    viewer.close()

When I try to run i

[2020-09-08 15:27] sosey commented on #215
interesting. Thankyou for the detailed information!  I'll try and dig into this with some other bug fixes I hope to push in the next couple weeks.

[2020-10-04 16:37] prdurrell commented on #165
Hi -- I am re-looking into this after a long absence.  I have recently updated imexam to 0.9.1 via conda update, but I am still finding the FWHM values are incorrect, as noted above.   Is it still better to download the patch above, or?   Or are there some settings I need to add upon running imexam the first time?
<img width="427" alt="Screen Shot 2020-10-04 at 12 36 25 PM" src="https://user-image

[2020-10-05 12:33] sosey commented on #165
I've been off on other projects myself - let me see if I can check into this before weeks end

[2020-10-09 06:55] karlglazebrook commented on #210
version 0.9.1

I also tried the latest version from GitHub, but could not get that to build, the offending line:

    Command '['sh', './configure', '--prefix=/Users/karl/anaconda3']' returned non-zero exit status 127.

[2020-10-09 07:21] karlglazebrook commented on #165
**Here is some steps to exactly reproduce**

**Load m51.fits HST image in to ds9, from:**
https://www.dropbox.com/s/1cmsukrc786ca3f/m51.fits?dl=0

import imexam
a = imexam.connect('ds9')
a.rimexam()['background'][0]=False   # Turn off background subtraction to stop crash
a.imexam() # Click at 349,221

￼
<img width="605" alt="Pasted Graphic" src="https://user-images.githubusercontent.com/15331994/9

[2020-10-10 08:07] yas-nakajima opened #216 "aimexam fwhm"
aimexam shows a result like

x              y              radius         flux           mag(zpt=2.5e+01)              sky/pix        fwhm(x,y)
1021.06        1935.25        5              2.5e+03        1.6e+01        14106.709      1.28,1.35
1020.9207728938632 1935.031676337716 24.0

![download](https://user-images.githubusercontent.com/25625333/95649784-3fa89480-0b1a-11eb-82d2-7fe3d9614830.png)

[2020-10-15 15:17] jake-the-bird opened #217 "WinError 10048: Only one usage of each socket address is normally permitted"
I'm trying to use imexam in Jupyter notebook on Windows 10, and on trying to connect to ginga I get a strange socket error:

[code]

This is the code I'm trying to run:

[code]

I've verified that both imexam and ginga are up to date, and I've tried the common problem fixes listed in the documentation, but no dice. Another user also on Windows 10 posted a similar-looking issue a couple of years ag

[2020-10-17 00:55] yas-nakajima commented on #216
imexamine.py

[2020-10-17 00:58] yas-nakajima commented on #216
imexamin.py
L650
pstr += f"{sigma:0.2f},{sigmay:0.2f}"
shoud be
pstr += f"{fwhmx:0.2f},{fwhmy:0.2f}"

[2020-10-17 12:58] yas-nakajima commented on #210
I have the same problem with version 0.9.1 when I use it with the int16 data.
I think correcting `flux -= sky_per_pix` to `flux = flux - sky_per_pix`at L1163 of  imexamine.py is the easiest way as suggested by Karl.

[2020-10-17 13:27] yas-nakajima commented on #205
imexamine.py
Correct
L637
`pstr = f"\n{x:.2f}\t{y:0.2f}\t{radius}\t{total_flux:0.2}\t{mag:0.2}\t"`
to
`pstr = f"\n{xx:.2f}\t{yy:0.2f}\t{radius}\t{total_flux:0.2}\t{mag:0.2}\t"`

Delete
L685
`print(xx,yy,pad)`

Thanks

[2020-10-19 11:27] jake-the-bird commented on #217
Apologies, I hadn't seen the 'port' option in connect() as given in the readme, which fixed my issue in the end. I don't think this is mentioned anywhere on the readthedocs though, maybe it could be useful to mention it on there too?

[2020-10-19 13:05] #194 closed

[2020-10-19 13:16] sosey commented on #217
no worries -the best bug report is the one someone figures out the solution to themselves!  I'm glad it's working for you. I'll definitely look through the docs and make sure things like this are easy to find -the docs are in need of another overhaul anyways.

many thanks!

[2020-12-06 17:31] Ross-Dobson opened #219 "Imexamine radial_profile: background subtraction gives 'UFuncTypeError'"
I'm not using a viewer, so I have it set up that:
[code]
I then have an image, that I am attempting to generate the radial profile of, loaded in from a FITS as `img`.
[code]
This outputs:
[code]
If I disable the background parameter in the radial_profile_pars dict (not done in the most Pythonic way, I admit):
[code]
The function then runs as expected, (because it skips the line causing the UFuncTy

[2020-12-22 15:27] orifox opened #220 "Different XPA issues after connecting"
I am trying to apply a variety of methods after connecting ds9, but running into different issues that all seem related to XPA.  One example (that might fix all my other issues) is:

viewer.save_regions(), which returns:

---------------------------------------------------------------------------
XpaException                              Traceback (most recent call last)
<ipython-input-15-60a5f9d6

[2021-01-19 23:43] HIP69673 opened #223 "imexam.connect(viewer='ginga')"
Hi,

I've installed the Ginga viewer and imexam package to view and work with fits file but can't even get started. I've looked online but can't find anyone who has reported the same issue. Here is the snippet of the code where I am calling the viewer:

import imexam
viewer = imexam.connect(viewer='ginga')
viewer.load_fits('0006_3x3_-10.00_5.00_G_18-04-22.fits')

and get the following error messag

[2021-02-22 09:12] supriyo-astro opened #224 "Issue with imexam image display"
imexam()

A black matplotlib window appears when I use any key for live interaction.

System information :

In [6]: platform.uname()
Out[11]: uname_result(system='Linux', node='cm19', release='5.4.0-52-generic', version='#57-Ubuntu SMP Thu Oct 15 10:57:00 UTC 2020', machine='x86_64', processor='x86_64')

In [7]: sys.version
Out[12]: '3.7.9 (default, Aug 31 2020, 12:42:55) \n[GCC 7.3.0]'

In [8]: m

[2021-03-12 23:45] sosey opened #225 "save plot doesn't seem to be saving anymore"
using imexam() and hitting 's' should save the plot that's currently displayed to file.

[2021-04-08 20:47] anghmpl commented on #213
I have the same problem:
My specifics are:
- not using a virtual env.
- I used pip install imexam  v. 0.91
- Linux localhost 5.11.11-200.fc33.x86_64
- DS9 v 8.1
- this is how I coded it so far in jupyter:

import matplotlib
import numpy as np
import matplotlib.pyplot as plt
import os
import sys
sys.path
sys.path.append('...python3.9/site-packages')   # Path to imexam
sys.path.append('/usr/local/bi

[2021-04-13 19:16] baja2k9 opened #227 "install aborted in 0.9.1"
hello,

There is a typo? in release 0.9.1, coud not install:
Collecting imexam
  Downloading https://files.pythonhosted.org/packages/c5/1f/4b735cf7d2558c9356a884bcaca02c098bd3bd499f8727787affbf177ee0/imexam-0.9.1.tar.gz (21.4MB)
    100% |████████████████████████████████| 21.4MB 66kB/s
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<st

[2021-04-13 19:28] sosey commented on #227
it's an f-string, and works in python 3.6+, check your installed version of python? and then check your environment to make sure it's pulling the version of python you expect?

[2021-04-13 19:40] baja2k9 commented on #227
I was trying to update my old server (Ubuntu 18.04.5 LTS) script that uses Python 2.7.17.

Will leave with 0.8.1.  as new version did not install.
Thanks,

[2021-04-13 19:59] sosey commented on #227
ahhh, that would be it!  Yah, the newer versions of the package are no longer py2.7 compliant.
I'll close this, let me know if you have any other issues.

[2021-04-13 19:59] #227 closed

[2021-06-18 03:21] jazamatazz opened #228 "imexam 'Circle' object has no property 'ax'"
I am trying to find the center of stars using imexam circular apterture photometry
I am using a jupyter notebook.
I have ds9 version 8.1 and imexam version 0.9.1, python version 3.8.8 and am on Ubuntu 20.04.2 LTS x64.

When I launch imexam and press a on my star, I get an attribute error stating that the 'Circle' object has no property 'ax'. I am not sure how to troubleshoot this and any help is a

[2021-06-21 21:47] marcusthomas11 commented on #228
Hi there,

The photutils package removed the 'ax' keyword in version 1.0.0, along with a number of other changes that broke a few other packages.

I downgraded to the last, version 0.7.2.

I had the same issue, but it seems to all work now. Until the calls are changed in this package, you'll need to downgrade photutils.

[2021-06-24 01:29] jazamatazz commented on #228
That worked! Thank you so much!

[2021-06-24 01:29] #228 closed

[2021-08-19 00:07] KathleenLabrie commented on #137
FYI, the saga continue.  Different machine, still Mac.  Same thing, won't work.  I did the /etc/hosts trick, XPA_METHOD is local, I am running ds9 v8.1.  imexam 0.9.1.   No joy.

[code]

[2021-08-19 13:31] sosey commented on #137
ok - let me see if I can find some time to work on this package in the next couple weeks and try to replicate the issue you are having on my local setup

[2021-09-15 13:40] sosey opened #231 "Move tests to github actions"
travis use was removed, make sure tests are running in actions

[2021-10-13 20:12] janerigby opened #238 "radial profile ("r") and aperture photometry ("a") failing, but "j" and "k" work"
I am attempting to measure the PSF from stars in an HST WFC3-IR F160W image.    For recordkeeping, the image is   V4.0_PSZ1G311.65-18.48_F160W_0.03g0.8_cr4.0_0.7_drz_sci.fits
(Please email me and I can send it privately.)

I am getting an error when doing aperture photometry ("a"), and non-sensical answers for radial profile ("r"), as follows:

1) Using "j" makes a nice fit with FWHM=6.4 pix

2) U

[2021-10-13 20:27] sosey opened #239 "Update the matplotlib colormaps"
/Users/sosey/opt/miniconda3/envs/imexam/lib/python3.7/site-packages/ginga/cmap.py:13317: MatplotlibDeprecationWarning: The global colormaps dictionary is no longer considered public API.
  for name in _cm.cmap_d:

[2021-10-14 15:10] janerigby commented on #238
I got iraf's imexam working remotely on a linux box, and verified that the
running "r" on the V4.0 F160W file produces a FWHM of 4.6 pixel, which is sensible.
This is consistent with the behavior seen by others in issue #165

[2021-10-20 04:17] KathleenLabrie opened #242 "How do I delete regions?"
I've looked in the 0.9.1 documentation and I can't figure out how to delete regions.  My use case is that I need to delete all regions, but I'm also curious as to how to delete specific regions.

With pyds9, I was able to do 'display_handle.set("regions delete all")'.   I have tried variations of this with `set_region` without success.

[2022-01-15 17:34] patkel opened #244 "AttributeError: 'Circle' object has no property 'ax'"
Hi all,  I am having this problem that I think was the same as the previous ticket. I tried to install the current version on github, and believe I succeeded:

In [14]: imexam.__version__
Out[14]: '0.9.2.dev40+gb397573'

I was able to get plots to show up by deleting ax=ax from lines
--> 691                 apertures.plot(ax=ax, color='green', alpha=0.75, lw=3)
and
    693                     annu

[2022-01-18 15:59] patkel opened #245 "Precision of magnitude and zeropoint on screen and figure"
Hi again,  I am hoping to imexam for a class in the spring semester, so I am just trying to make sure that the students will be able to use it for basic photometry.   I noticed that the precision of the magnitude measurements is not enough for a useful exercise, and I wanted to suggest adding additional precision.

In imexamine.py, I added and "f" and a small amount of additional precision in the

[2022-01-18 16:29] patkel commented on #244
I was able to figure out that photutils would like the argument to be
axes as opposed to ax

In [2]: photutils.__version__
Out[2]: '1.3.0'

the following seems to work:

                apertures.plot(axes=ax, color='green', alpha=0.75, lw=3)

                annulus_apertures.plot(axes=ax, color='red', alpha=0.75, lw=3)

[2022-02-09 13:39] prdurrell commented on #212
Please!  That would be very helpful!

[2022-05-07 03:55] vrijmoet opened #247 "load_fits() XPA error, and subsequent imexam() error"
I'm having two issues, but maybe they are related.

(1) When I use load_fits() to open an image in ds9, it gives me an XpaException:

[code]
(my image is '20201204.09.056.o.fits' and my ds9 window is titled 'testy'. The path in the last line is where I am running my session)
I can get around this issue if I first load the image with astropy.io.fits:
[code]
Then the image shows up in ds9 and looks

[2022-05-07 21:03] vrijmoet commented on #247
After some extensive testing, I'm pretty sure this issue is just our ds9 being very out of date.

The most recent version of ds9 is 8.3, but our installed version is 3.3 (from ~2003?). I installed ds9 8.3, XPA, and imexam on another machine, and everything works flawlessly.

[2022-05-07 21:03] #247 closed

[2022-06-02 20:25] vrijmoet opened #248 "Arrow keys crash imexam()"
I am running imexam with DS9 on Linux (Rocky8), mostly non-interactively (calling functions through Python scripts). This also happens when I run it on my Mac laptop (Big Sur 11.2.3).

If I load a FITS image and run imexam(), everything works as expected except for the arrow keys, which crash the program with an XPA Exception. Here is the launch sequence from my script:

And here is the error I ge

[2022-06-03 14:18] prdurrell opened #249 "Using imexamine with MEF file and different extensions"
Hi;
     I am having an issue with using imexamine on an MEF HST image.    When I load some specific extension into ds9 it displays just fine, but when I load imexamine, it appears to be looking at a different (default?) extension.
  For example:
viewer.load_fits('./ACS_flc/stuff_crclean.fits[1]')
viewer.scale()
viewer=imexam.connect( ).          This all works fine (except 'r' is still not workin

[2022-08-03 17:56] kchoX14 opened #250 "Unsupported format string with a FITS file having extension ".evt""
**### Environment:**
I am working in a virtual environment on my Ubuntu 18.04 LTS system. I manually set the `XPA_METHOD` to "local" inside python with `os` module, which solved my initial issue with `XPA` detection error. Adding the `ds9` absolute path to the global `~/.bashrc` script helped `imexam` detect it. I have DS9 _v8.3_ installed. I also installed `pyds9` using `pip`, in case there needs

[2022-08-11 08:32] jortiz12 opened #251 "ERROR when "connecting" to viewer"
Dear community

I´m trying to replicate the examples [imexam_ds9_example.ipynb](https://github.com/spacetelescope/imexam/blob/master/example_notebooks/imexam_ds9_example.ipynb) or [imexam_ginga_example.ipynb](https://github.com/spacetelescope/imexam/blob/master/example_notebooks/imexam_ginga_example.ipynb) but I'm having errors when executing either of these two commands.

`a=imexam.connect()`

`a

[2022-08-12 20:37] kchoX14 commented on #250
Anyone? Developers?

[2022-08-18 13:26] kchoX14 commented on #250
Has the support for this repository been left unattended to???

[2022-08-22 22:03] sosey commented on #250
I'm here, but have been away - I will take a look at this soon (hopefully by this weekend and get back with you!)

[2022-08-23 08:27] kchoX14 commented on #250
That's great!

[2022-08-30 06:40] kchoX14 commented on #250
Hello. Did you get the time then last weekend?

[2022-09-11 07:00] Universebenzene opened #252 "Ginga detection incorrect when importing"
With both ginga(3.4.0) and imexam installed, when I run `import imexam`, it gives `Ginga not installed, use other viewer, or no viewer`.

I checked the directories and found the detection returned Error at [this line](https://github.com/spacetelescope/imexam/blob/b3975733e0ef459fc7d137acec9bf4aa2865d6c5/imexam/ginga_viewer.py#L24) in the `ginga.viewer.py`. Should the `AstropyWCS` be change to any

[2022-09-14 19:02] kchoX14 commented on #250
@sosey I suppose I should just close this issue, right? It's been too long.

[2022-09-18 08:33] kchoX14 commented on #250
Incredibly poor support from the developers. No interest. Very disappointing indeed!

[2022-09-29 21:32] #250 closed

[2022-11-30 15:57] jazamatazz commented on #252
I am having this issue as well.

[2022-11-30 16:39] jazamatazz opened #254 "How to use 99.5% Scaling or set scale limits in Ginga"
I'm using Windows 11 x64, imexam 0.9.1, ginga 3.4.1

I usually do imexam on Linux so I use DS9. With DS9, I use 99.5% and sqrt for the scaling. I see that scale takes [linear|log|pow|sqrt|squared|asinh|sinh|histequ] as options. Is there a way to either also set the scale limits? I see Ginga has the option to  [set the scale limits](https://ginga.readthedocs.io/en/stable/dev_manual/image_viewer.htm